<header>
	<a id='mainlogo' href='/'>Gitly</a>

	@if app.logged_in
		<div class="new">
			<a href="/new">New repository</a>
		</div>
	@end

	<div class="user" tabindex="0">
		@if app.logged_in
			.avatar {
				<img src="@{app.prepare_user_avatar_url(app.user.avatar)}">
			}
			.header-dropdown {
				.username {
					<span>Signed in as</span>
					<a href='/@app.user.username'>@app.user.username</a>
				}
				.links {
					<a href='/@app.user.username' class="link">Profile</a>
					<a href='/@app.user.username/repos' class="link">Repositories</a>
					<a href='/@app.user.username/issues' class="link">Issues</a>
					<a href='/@app.user.username/stars' class="link">Stars</a>
					<a href='/@app.user.username/feed' class="link">Feed</a>
				}
				.links {
					<a href="/@app.user.username/settings" class="link">Settings</a>
					@if app.user.is_admin
						<a href='/admin/settings' class="link">Admin Panel</a>
					@end
				}
				.links {
					<a href='/logout' class="link">Sign out</a>
				}
				<div class="dropdown-hoverzone"></div>
			}
		@else
			<a href='/login' class='login-button'>Log in</a>
			<a href='/register' class="login-button" style="margin-left: 5px">Register</a>
		@end
	</div>
</header>
