gitly
tests/first_run
bin/
*.sqlite
*.css
*.xml
*.css.map
.sass-cache/
.lite_workspace.lua
static/assets/version
logs/
repos/
archives/

avatars/

*.code-workspace
.vscode
.idea

.DS_Store

*~
gitly.exe
.claude
build
deploy
gitly_linux
gitly_ci
