<!DOCTYPE html>
<html>
	<head>
		@include '../layout/head.html'
	</head>
	<body>
		@include '../layout/header.html'

		.form-error {
			@app.form_error
		}

		<div class="content">
			<div class='avatar'>
				<img src="@{app.prepare_user_avatar_url(app.user.avatar)}">
			</div>

			<h1> @{user.username}'s feed</h1>

			@if feed.len > 0
				@for item in feed
					@if item.id in items_start_day_group
						<div class="feed-date-group">@item.created_at.relative()</div>
					@end

					<div class="list-item">
						<a href="/@item.repo_owner/@item.repo_name">
							<h3>@item.repo_owner/@item.repo_name</h3>
						</a>
						<p><b>@item.author_name </b>commited <q>@item.message</q></p>
						<br>
						<time><i>@item.created_at</i></time>
					</div>
				@end

				<div class="buttons">
					@if is_first_page
						<a href="/@username/feed/@prev_page" class="button disabled">Prev</a>
					@else
						<a href="/@username/feed/@prev_page" class="button">Prev</a>
					@end

					<span>@page of @page_count</span>

					@if is_last_page
						<a href="/@username/feed/@next_page" class="button disabled">Next</a>
					@else
						<a href="/@username/feed/@next_page" class="button">Next</a>
					@end
				</div>
			@else
				<h2>Feed is empty</h2>
			@end
		</div>

		@include '../layout/footer.html'
	</body>
</html>
