@include '../header.html'

<div class='avatar'>
@if user.b_avatar
	<img src="@user.avatar">
@else
	<span>@user.avatar</span>
@end
</div>
<h3> @{user.username}'s feed</h3>

@if feed.len > 0
	@for item in feed
		<div class="user-repo-item">
			<a href="/@item.repo_owner/@item.repo_name">
				<h3>@item.repo_owner/@item.repo_name</h3>
			</a>
			<p><b>@item.author_name </b>commited <q>@item.message</q></p>
			<br>
			<time><i>@item.created_at</i></time>
		</div>
	@end
@else
	<h2>Feed is empty</h2>
@end

@include '../footer.html'
