<!DOCTYPE html>
<html>
	<head>
		@include '../layout/head.html'
	</head>
	<body>
		@include '../layout/header.html'

		<div class="content">
			<div class='avatar'>
				<img src="@{app.prepare_user_avatar_url(user.avatar)}">
			</div>

			<h1>@{user.username}'s repositories</h1>

				@if repos.len > 0
					@for repo in repos
						<div class="list-item">
							<a href="/@user.username/@repo.name">
								<h3>@repo.name</h3>
							</a>
							@if repo.description.len > 0
								<p><i>@repo.description</i></p>
							@end
							@if repo.is_public
								<p><b>Public</b></p>
							@else
								<p><b>Private</b></p>
							@end
						</div>
					@end
				@else
					<h2>No repositories</h2>
				@end
		</div>

		@include '../layout/footer.html'
	</body>
</html>
