<!DOCTYPE html>
<html>
	<head>
		@include '../layout/head.html'
	</head>
	<body>
		@include '../layout/header.html'

		<div class="content">
			<div class='avatar'>
				@if user.b_avatar
					<img src="@user.avatar">
				@else
					<span>@user.avatar</span>
				@end
				</div>
				<h1>@{user.username}'s stars</h1>

				@if repos.len > 0
					@for repo in repos
						<div class="user-repo-item">
							<a href="/@repo.user_name/@repo.name">
								<h3>@repo.user_name/@repo.name</h3>
							</a>
							@if repo.description.len > 0
								<p><i>@repo.description</i></p>
							@end
						</div>
					@end
				@else
					<h2>No stars</h2>
				@end
		</div>

		@include '../layout/footer.html'
	</body>
</html>

