<!DOCTYPE html>
<html>
	<head>
		@include 'layout/head.html'
	</head>
	<body>
		@include 'layout/header.html'

		<div class="content">
			@include 'layout/repo_menu.html'

			@for day, commits2 in d_commits
				.commit-day {
					.commit-day-title {
						Commits @msg @day
					}
					.clog-block {
						@for commit in commits2
							.clog {
								.clog-msg {
									<a href='/@repo.user_name/@repo.name/commit/@commit.hash'>@commit.message</a>
								}

								<span>@commit.author</span>

								span.clog-time {
									commited @commit.relative()
								}
							}
						@end
					}
				}
			@end

			@if d_commits.len > 0
				<div class="buttons">
					@if is_first_page
						<a href="/@repo.user_name/@repo.name/@branch_name/commits/@prev_page" class="button disabled">Prev</a>
					@else
						<a href="/@repo.user_name/@repo.name/@branch_name/commits/@prev_page" class="button">Prev</a>
					@end

					<span>@page of @page_count</span>

					@if is_last_page
						<a href="/@repo.user_name/@repo.name/@branch_name/commits/@next_page" class="button disabled">Next</a>
					@else
						<a href="/@repo.user_name/@repo.name/@branch_name/commits/@next_page" class="button">Next</a>
					@end
				</div>
			@end
		</div>

		@include 'layout/footer.html'
	</body>
</html>
