	</div>
	<div id='footer'>
		<div>
		Powered by <a target=_blank href='https://gitly.org'>gitly.org</a> #@{app.version}.
		Written in <a target=_blank href='https://vlang.io'>V</a>.
@if app.page_gen_time != ''
 Page generated in @{app.page_gen_time}.
@end
			<div style='float:right'>
			Source code:
			<a target=_blank href='https://github.com/vlang/gitly'
				>github.com/vlang/gitly</a>
			</div>
		</div>
	</div>

	<script>
		const errorEl = document.querySelector(".form-error");
		const errorMessage = errorEl.textContent.trim();
		const isEmpty = errorMessage === "";

		if (!isEmpty) {
			errorEl.classList.add("alert");

			errorEl.addEventListener("click", () => {
				errorEl.style.display = "none";
			});
		}
	</script>
</body>
</html>
