<!DOCTYPE html>
<html>
	<head>
		@include 'layout/head.html'
	</head>
	<body>
		@include 'layout/header.html'

		<div class="content">
			@include 'layout/repo_menu.html'

			<h1>Issues</h1>

			<div>
				@if app.logged_in
					<a href='/@repo.user_name/@repo.name/issues/new'>New issue</a>
				@end
			</div>

			</br>

			.commit-day {
			}

			.clog-block {
				@for issue in issues
					.clog {
						.clog-msg {
							<a href="/@repo.user_name/@repo.name/issue/@issue.id">@issue.title</a>
						}
						span.clog-author {
							<b>#@issue.id</b> opened @issue.relative_time()
							by <a href="/@issue.author_name">@issue.author_name</a>
						}
						@if issue.comments_count > 0
						.comments {
							@if issue.comments_count == 1
								@issue.comments_count comment
							@else
								@issue.comments_count comments
							@end
						}
						@end
					}
				@end
			}

			<div class="buttons">
				@if first
					<a href="/@repo.user_name/@repo.name/issues/@last_site" class="button disabled">Prev</a>
				@else
					<a href="/@repo.user_name/@repo.name/issues/@last_site" class="button">Prev</a>/
				@end

				@if last
					<a href="/@repo.user_name/@repo.name/issues/@next_site" class="button disabled">Next</a>
				@else
					<a href="/@repo.user_name/@repo.name/issues/@next_site" class="button">Next</a>
				@end
			</div>
		</div>

		@include 'layout/footer.html'
	</body>
</html>
