<!DOCTYPE html>
<html>
	<head>
		@include 'layout/head.html'
	</head>
	<body>
		@include 'layout/header.html'

		.form-error {
			@app.form_error
		}

		<div class="content">
			@include 'layout/repo_menu.html'

			<div class="issue-main-post">
				<h1>@issue.title #@issue.id</h1>
				<i>by</i> <a href="/@issue.author_name"><i>@issue.author_name</i></a>
				<p>@issue.text</p>
			</div>

			@for comment in comments
				<div class="issue-comment-post">
					<a href="/@comment.author_name"><i>@comment.author_name</i></a> </i>commented @comment.relative()</i>
					<p>@comment.text</p>
				</div>
			@end

			@if app.logged_in
				<form method='post' class='form vertical-form comment-post-form' action='/@repo.user_name/@repo.name/comments'>
					<textarea type='text' class='input-comment' name='text' placeholder='Leave a comment' required></textarea>
					<input type='hidden' name='issue_id' value='@issue.id'>
					<input type='submit' class="comment-post-submit" name='submit' value='Comment'>
				</form>
			@end
		</div>

		@js '/js/block-form.js'
		@include 'layout/footer.html'
	</body>
</html>
