<!DOCTYPE html>
<html>
	<head>
		@include 'layout/head.html'
	</head>
	<body>
		@include 'layout/header.html'

		.form-error {
			@app.form_error
		}

		<div class="content">
			@include 'layout/repo_menu.html'

			<div class="issue-main-post">
				<h1>@issue.title #@issue.id</h1>
				<div class="avatar-with-user-info">
					<img src="@{app.prepare_user_avatar_url(issue_author.avatar)}">
					<span>
						<i>by</i> <a href="/@issue_author.username"><i>@issue_author.username</i></a>
						<p>@issue.text</p>
					</span>
				</div>
			</div>

			@for comment_with_user in comments_with_users
				<div class="avatar-with-user-info issue-comment-post">
					<img src="@{app.prepare_user_avatar_url(comment_with_user.user.avatar)}">
					<span>
						<a href="/@comment_with_user.user.username"><i>@comment_with_user.user.username</i></a> </i>commented @comment_with_user.item.relative()</i>
						<p>@comment_with_user.item.text</p>
					</span>
				</div>
			@end

			@if app.logged_in
				<form method='post' class='form vertical-form comment-post-form' action='/@repo.user_name/@repo.name/comments'>
					<textarea type='text' class='input-comment' name='text' placeholder='Leave a comment' required></textarea>
					<input type='hidden' name='issue_id' value='@issue.id'>
					<input type='submit' class="comment-post-submit" name='submit' value='Comment'>
				</form>
			@end
		</div>

		@js '/js/block-form.js'
		@include 'layout/footer.html'
	</body>
</html>
