@include 'header.html'

<h3>
Login
</h3>

.form-error {
	@app.form_error
}

<div class="form">
	<form method='post' action='/login'>
		<div class="field">
			<input type='text' name='username' placeholder='Username' required autofocus>
		</div>
		<div class="field">
			<input type='password' name='password' placeholder='Password' required>
		</div>
		<div class="field">
			<input type='submit' value='Login'>
		</div>
	</form>
</div>

@if app.settings.oauth_client_id != ''
	<a href='https://github.com/login/oauth/authorize?response_type=code&state=@csrf&client_id=@app.settings.oauth_client_id'>Login via GitHub</a>
@end

@include 'footer.html'

