@include 'header.html'

<h3>
Register
@if no_users
 an admin account
@end
</h3>

.form-error {
	@app.form_error
}

@if no_users

Welcome to Gitly! Looks like you've just set it up, you'll need to register
the main administrator account for this server.

@end

<div class="form">
	<form class="form-register" method='post' action='/register'>
		<div class="field">
			<input type='text' name='username' placeholder='Username' required autofocus>
		</div>
		<div class="field">
			<input type='password' name='password' placeholder='Password' required>
		</div>
		<div class="field">
			<input type='email' name="email" placeholder='Email' required>
		</div>
		<div class="field">
			<input type='submit' value='Register'>
		</div>
	</form>
</div>

<script>
	const formEl = document.querySelector(".form-register");

	formEl.addEventListener("submit", () => {
		const submitEl = formEl.querySelector("input[type=submit]");
		submitEl.disabled = true;
	});
</script>

@include 'footer.html'
