<!DOCTYPE html>
<html>
	<head>
		@include 'layout/head.html'

		@if no_users
		<style>
			#top_right_div { display: none; }
		</style>
		@end

	</head>
	<body>
		@include 'layout/header.html'

		<div class="content">
			.form-error {
				@ctx.form_error
			}

			<h1>
				@if no_users
				%register_admin_account
				@else
				  %register
				@end
			</h1>

			@if no_users
				<br><br>
				%raw welcome_to_gitly
				<br><br>
			@end

			<div class="form">
				<form method='post' action='/register'>
					<div class="field">
						<input type='text' name='username' placeholder='Username' required autofocus>
					</div>
					<div class="field">
						<input type='password' name='password' placeholder='Password' required>
					</div>
					<div class="field">
						<input type='email' name="email" placeholder='Email' required>
					</div>
					<div class="field">
						<input type='submit' value='%register'>
					</div>
				</form>
			</div>
		</div>

		@js '/js/block-form.js'
		@include 'layout/footer.html'
	</body>
</html>
