<!DOCTYPE html>
<html>
	<head>
		@include '../layout/head.html'
	</head>
	<body>
		@include '../layout/header.html'

		<div class="content">
			@include '../layout/repo_menu.html'

			<h1>New issue</h1>

			<form method='post' class="form" action='/@repo.user_name/@repo.name/issues'>
				<div class="field">
					<input type='text' autofocus name='title' placeholder='Title' required>
				</div>
				<div class="field">
					<textarea name='text' placeholder='Leave a comment' required></textarea>
				</div>
				<div class="field">
					<input type='submit' value='Submit new issue'>
				</div>
			</form>
		</div>

		@js '/js/block-form.js'
		@include '../layout/footer.html'
	</body>
</html>
