.hl_table * {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 12px; }

body, html, * {
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Oxygen,Fira Sans,Droid Sans,Helvetica Neue;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  margin: 0; }

a {
  color: #4078C0;
  text-decoration: none; }

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 130%; }

.content {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 200px;
  min-height: calc(100vh - 300px); }

.user {
  display: flex;
  position: absolute;
  top: 0;
  right: 10px; }

.user * {
  margin-left: 10px; }

.avatar {
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 100%;
  background-color: #4078C0;
  margin-top: 5px;
  overflow: hidden; }

.avatar > span {
  line-height: 40px;
  font-size: 25px;
  margin: 0; }

.avatar > img {
  height: 40px;
  width: 40px;
  margin: 0; }

#header {
  background-color: #24292e;
  height: 50px;
  color: white; }
  #header a {
    line-height: 50px;
    font-size: 18px;
    color: white; }
    #header a:hover {
      color: #ddd; }

#footer {
  max-width: 1000px;
  margin: 0 auto;
  color: #777; }

#footer a {
  color: #777;
  text-decoration: underline; }

#mainlogo {
  line-height: 50px;
  font-size: 20px !important;
  margin-left: 10px;
  float: left; }

.last_commit {
  display: flex;
  align-items: center;
  padding: 9px 11px;
  border-bottom: 1px solid #dfdfdf;
  background-color: #bfdbff54; }

.last_commit_author {
  margin-right: 4px; }

.last_commit_msg {
  margin-right: 2px; }

.hash_string {
  background-color: #CBE2FF; }

.files {
  margin: 0 auto;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
  border-radius: 3px;
  margin-bottom: 100px; }
  @media (max-width: 1000px) {
    .files {
      width: 100%; } }

.file {
  display: flex;
  align-items: center;
  padding: 9px 11px;
  cursor: pointer;
  border-bottom: 1px solid #dfdfdf;
  color: #24292e; }
  .file a {
    color: black !important; }
  .file:hover {
    background-color: #f3f3f3; }

.file svg {
  height: 16px; }

.file-ico {
  margin-right: 6px;
  height: 16px; }

.file-name {
  position: relative;
  top: 1px; }
  @media (min-width: 1000px) {
    .file-name {
      width: 25%; } }
  @media (max-width: 1000px) {
    .file-name {
      flex: 1; } }
  .file-name a {
    color: #24292e !important;
    position: relative;
    top: -2px; }
    .file-name a:hover {
      text-decoration: none; }

.file-size {
  width: 15%;
  margin-right: 10px; }
  @media (max-width: 1000px) {
    .file-size {
      display: none; } }

.file-msg {
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #777 !important; }
  @media (max-width: 1000px) {
    .file-msg {
      display: none; } }
  .file-msg a {
    color: #777 !important; }

.file-time {
  color: #777 !important; }

.langs {
  display: flex;
  justify-content: space-around; }

.lang-stats-header {
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  margin-bottom: 10px;
  overflow: hidden; }

.lang-stats-bar {
  display: flex; }
  .lang-stats-bar div {
    height: 5px; }

.lang-stat {
  display: flex;
  align-items: center;
  margin: 9px 5px 7px 5px; }

.lang-stat * {
  margin-right: 3px; }

.lang-stat *:last-child {
  margin-right: 0px; }

.lang-stat-dot {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 1px; }

.lang-stat-loc {
  font-size: 80%;
  font-style: italic;
  color: #777; }

.repo-tabs {
  position: fixed;
  left: 5px;
  top: 300px; }
  .repo-tabs a {
    display: block; }

.repo-stats {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px; }
  .repo-stats a.menu {
    display: inline-block;
    width: 14%;
    padding: 10px;
    text-align: center;
    color: black !important; }
    @media (max-width: 1000px) {
      .repo-stats a.menu {
        display: block;
        width: 100%; } }
    .repo-stats a.menu:hover, .repo-stats a.menu:hover * {
      color: #4078C0 !important;
      text-decoration: none; }
  .repo-stats span {
    position: relative;
    top: 2px; }
  .repo-stats svg {
    position: relative;
    top: 2px;
    height: 14px; }

.tree-path, .tree-path a, h3 a {
  display: inline-block;
  font-size: 20px !important;
  font-weight: 300;
  margin: 7px 0 7px 0; }

.commit-day {
  color: #767676;
  padding: 30px 0 10px 0;
  border-bottom: 1px solid #dfdfdf; }

.clog {
  border: 1px solid #dfdfdf;
  border-top: 0;
  padding: 10px; }

img.clog-avatar {
  border-radius: 3px;
  width: 35px;
  float: left;
  margin-right: 10px; }

.clog-msg {
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 5px; }
  .clog-msg a {
    color: #24292e !important;
    font-size: 15px;
    font-weight: 700; }

.clog-author a {
  font-weight: bold;
  font-size: 11px;
  color: #777 !important; }

.clog-time {
  font-size: 11px;
  color: #777; }

pre > * {
  font-family: Roboto-Mono, Menlo; }

pre {
  overflow-y: hidden;
  overflow-x: scroll; }

.hl_table a {
  padding-right: 5px;
  padding-left: 5px;
  float: right; }

.hl_table {
  width: 1000px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  padding: 6px 4px; }

.hl_table td {
  padding: 0px; }

.hl_table td:first-child {
  width: 1%;
  padding-right: 4px; }
  .hl_table td:first-child a {
    font-family: SFMono-Regular, Consolas, Menlo, monospace;
    color: #777;
    opacity: 0.7;
    cursor: pointer; }
  .hl_table td:first-child a:hover {
    opacity: 1; }

.hl_table tr {
  height: 16px; }

.hl_table b {
  color: #4a679a;
  font-weight: normal; }

.hl_table u {
  color: #b33a2c;
  text-decoration: none; }

.hl_table i {
  color: darkgray;
  font-style: normal; }

div.branches div.branch:first-child {
  border-top: 1px solid #dfdfdf; }
