.issue-main-post {
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	padding: 10px;
	margin-top: 10px;
}

.issue-comment-post {
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	padding: 10px;
	margin-left: 40px;
	margin-top: 10px;
}

.comment-post-form {
	display: grid;
}

.comment-post-submit {
	margin-left: 40px;
	margin-top: 5px;
}
