$monoFont: 'Courier New', Monaco;
$font: 'Helvetica';
$gray: #dfdfdf;
$gray-dark: #777; // 888
$gray_dark: #777; // 888
$gray-light: #f3f3f3;
$black: #333;
$font-size: 13px;
$link-color: #4078C0;
$mob-max: 1000px;
$form-size: 400px;
$avatar-size: 48px;
body, html, * {
	font-family: Roboto, 'Helvetica Neue', 'Segoe UI', 'Helvetica';
	font-size: $font-size;
	color: $black;
	padding: 0;
	margin: 0;
}
.content {
	max-width: $mob-max;
	margin: 0 auto;
	margin-bottom: 200px;
	min-height: calc(100vh - 300px);
}
#footer {
	max-width: $mob-max;
	margin: 0 auto;
	text-align: right;
	//margin-bottom: 50px;
	//position: absolute;
	bottom: 10px;
	a {
		text-transform: uppercase;
		color: #7d8998;
		&:hover {
			color: #222;
			text-decoration: none;
		}
		//text-decoration: underline;
		margin-left: 20px;
	}
}
#logo {
	display: inline-block;
	a#mainlogo {
		&:hover {
			text-decoration: none;
		}
		//position: absolute;
		//left: 10px;
		//top: 10px;
	}
	margin-right: 5px;
	a, * {
		font-size: 25px;
		font-weight: 300;
	}
	a {
		padding-top: 3px;
	}
}
h1, h2 {
	font-weight: 300;
	font-size: 20px;
	margin: 20px 0 20px 0;

}
h2 {
	margin: 20px 0 20px 0;
}
#txt-search {
	display: inline-block;
	padding: 6px;
	font-size: 14px;
	font-weight: 300;
	width: 30%;
	//font-family: $monoFont;
	:-moz-placeholder {
		color: red;
	}
	position: relative;
	top: -3px;
}

#header {
	border-bottom: 1px solid $gray;
	background-color: #f8f8f8;
	height: 40px;
	padding-top: 8px;
	margin-bottom: 5px;
}
a {
	color: $link-color;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
@mixin mobile {
	@media (max-width: $mob-max) {
		@content;
	}
}
@mixin desktop {
	@media (min-width: $mob-max) {
		@content;
	}
}
.clear {
	clear: both;
}
.border {
	border: 1px solid $gray;
}
.user-link {
	float: right;
	font-weight: bold;
	//margin-top: 20px;
	.no-avatar {
		width: 32px;
		height: 32px;
	}
	img {
		height: 32px;
		width: 32px;
		border-radius: 0;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		cursor: pointer;
		border: 1px solid #ccc;
		border-right: 0;
	}
	a:hover {
		text-decoration: none;
	}
	a.usera{
		//margin-top: -28px;
		margin-left: -4px;
		//border-radius: 0px 5px 5px 0px;
		border-radius: 5px 5px 5px 5px;
		font-weight: bold;
		height: 19px;
		border: 1px solid #ccc;
		//border-left: 0;
		background-color: #fff;
		color: #333;
		display: inline-block;
		font-weight: bold;
		padding: 5px;
		padding-top: 8px;
		text-align: center;
		vertical-align: middle;
		background-image: none;
		white-space: nowrap;
		cursor: pointer;
	}
	span {
		position:relative;
		top:3px;
		margin-left: 10px;
	}

}
.avatar {
	width: 25px;
	border-radius: 3px;
}
.no-avatar {
	cursor: pointer;
	display: inline-block;
	width: $avatar_size;
	height: $avatar_size;
	line-height: $avatar-size;
	font-size: 23px;
	font-weight: 300;
	//border: 1px solid black;
	border-radius: 5px;
		text-align: center;
	background-color: #d6dadc;
	    color: #4d4d4d;
	margin-bottom: 5px;
	vertical-align: top;
}
#btn-new-repo {
	margin-right: 15px;
}
.signin {
	margin-top: -1px;
	display: block;
}
.hr {
	border-top: 1px solid #dfdfdf;
	margin: 0;
	width: 100%;
}
textarea {
	padding: 5px;
}
// FORM ////////////////////////////
#form-errors {
	display: none;
}
#form-errors, .error {
	height: 30px;
	color: white;
	background-color: red;
	width: 100%;
	line-height: 30px;
	padding: 0px 10px 0 10px;
	font-weight: 300;
	font-size: 16px;
	margin-top: 20px;
}
#form-ok {
	display: none;
	height: 30px;
}
input[type=text],input[type=password] {
	padding: 5px;
	font-size: 14px;
	font-weight: 300;
	width: 250px;
}
.field {
	margin-top: 25px;
	margin-bottom: 8px;
	font-weight: 300;
	font-size: 18px;
}
.btn-info {
	color: #FFF;
	background-color: #0099eb;
}
.btn-small {
	padding: 3px 6px 3px 6px !important;
	font-size: 90% !important;
}
.btn-info:active {
	background-color: #31b0d5;
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	outline-offset: -2px;
}
.btn-info:hover {
	background: #0089d1;
}
.btn, input[type=submit] {
	text-decoration: none;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 2px;
}
input[type="button"]{
	//background-color: #F5942E;
	border-radius: 3px;
	background-color: #fff;
	border: 1px solid #ccc;
	color: #333;
	display: inline-block;
	font-weight: bold;
	padding: 5px;
	//text-shadow: -1px 0px 5px rgba(0, 0, 0, 0.2);
	text-align: center;
	vertical-align: middle;
	background-image: none;
	white-space: nowrap;
	cursor: pointer;
	&:hover {
		//background-color: #e57b0b;
		background-color: #E6E6E6;
		border-color: #ADADAD;
	}
	&:active {
		box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset;
	}
}

a.btn:hover {
	text-decoration: none !important;
}
// LANDING /////////////////////
.lp-header {
	font-weight: 300;
	font-size: 37px;
	text-align: center;
	margin: 30px 0 60px 0;
}
.infoblock {
	@include desktop {
		width: 28%;
		margin-left: 32px;
	}
	@include mobile {
		width: 100%;
		margin-bottom: 20px;
	}
	display: inline-block;
	line-height: 25px;
	font-weight: 300;
	vertical-align: top;
}
.try {
	margin: 0 auto;
	text-align: center;
	font-weight: 300;
	margin-top: 35px;
}
.lp-main {
	width: calc(100% - 300px);
	display: inline-block;
	strong {
		display: block;
		font-size: 25px;
		font-weight: 300;
		margin-bottom: 10px;
	}
	img {
		width: 100%;
		margin-top: 25px;
	}
}
.lp-form {
	width: 300px;
	display: inline-block;
	float: right;
}
.github-login {
	height: 32px;
	margin-left: -2px;
	margin-top: 15px;
}
// INDEX ///////////////////////
.index-repo, .index-repo-header {
	width: 100%;
	height: 40px;
	cursor: pointer;
	border: 1px solid #dfdfdf;
	border-top: 0px;
	&:hover {
		background-color: #f5f5f5;
	}
	a {
		font-size: 18px;
		font-weight: 300;
		padding-left: 8px;
		text-decoration: none !important;
		line-height: 40px;
		display: block;
	}
	.repo-name {
		width: 26%;
		margin-left: 10px;
	}
	div {
		width: 13%;
		display: inline-block;
	}
	.icon-trash-o {
		float: right;
		margin: 12px 10px 0px 0px;
	}
}
.index-repo-header {
	@include mobile {
		display: none;
	}
	border-bottom: 1px solid #dfdfdf;
	border-top: 1px solid #dfdfdf;
	font-weight: bold;
	margin-top: 30px;
	line-height: 25px;
	height: 25px !important;
	cursor: default !important;
	a {
		display: inline;
		line-height: 25px;
		color: $black !important;
		font-weight: bold;
		font-size: $font-size;
	}
}
.filter-repos {
	margin-top: 20px;
}
.clone-all-repos {
	margin-top: 20px;
	float: right;
	//font-size: 80%;
	display: block;
}
.repo-field {
	@include mobile {
		display: none !important;
	}
}
// TREE ///////////////////////////////////////////////
.repo-tabs {
	position: fixed;
	left: 5px;
	top: 300px;
	a {
		display: block;
	}
}
.repo-stats {
	border: 1px solid $gray;
	border-radius: 5px;
	margin-bottom: 10px;
	a.menu {
		display: inline-block;
		width: 14%;
		@include mobile {
			display: block;
			width: 100%;
		}
		padding: 10px;
		text-align: center;
		color: black !important;
		&:hover, &:hover * {
			color: $link-color !important;
			text-decoration: none;
		}
	}
	a.contr {
		//width: auto !important;
	}
	span {
		position: relative;
		top: 2px;
	}
}
.tree-path, .tree-path a, h3 a {
	display: inline-block;
	font-size: 20px !important;
	font-weight: 300;
	margin: 7px 0 7px 0;
}
.settings {
	span {
		font-size: 24px;
		position: relative;
		top: 5px;
	}
	&:hover {
		text-decoration: none !important;
	}
}
#txt-url {
	width: 180px;
}
#select-branch {
	//height: 30px;
	padding: 5px;
	//font-size: 20px;
	width: 20%;
	float: right;
	display: block;

		margin-top: 18px;
}
.top-files-btn {
	display: block;
	float: left;
	width: 20%;
	height: 36px;
	line-height: 37px;
	text-align: center;
	border: 1px solid $gray ;
	border-radius: 3px;
}
.langs {
	display: flex;
	justify-content: space-around;
}
.lang-stats-header {
	margin-left: 22%;
	padding: 5px 5px 0 5px;
	border: 1px solid $gray;
	border-radius: 3px;
	/////ou
	//display: flex;
	//flex-wrap: no-wrap;
}
.lang-stats-bar {
	margin: 0 -5px -3px -5px;
	border-bottom-left-radius: 5px;
	div {
		margin-right: -4px;
		height: 5px;
		display: inline-block;
	}
}
.lang-stat {
	margin: 2px;
}
.lstat-color-0 {
	background-color: rgb(53, 114, 165);
}
.lstat-color-1 {
	background-color: #c377e0;
}
.lstat-color-2 {
	background-color: rgb(228, 75, 35);
}
.lstat-color-3 {
	background-color: rgb(241, 224, 90);
}
.lstat-color-4 {
	background-color: #61bd4f;
}
.lang-stat-dot {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	display: inline-block;
	position: relative;
	top: 1px;
	margin-right: 3px;
}
.lang-stat-loc {
	font-style: italic;
	font-size: 80%;
}
.tree-header {
	margin-top: 20px;
}
.files {
	@include desktop {
		max-width: $mob-max;
		min-width: $mob-max;
	}
	@include mobile {
		width: 100%;
	}
	margin: 0 auto;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	//border-bottom :1px solid #dfdfdf;
	//margin-top: 20px;
	margin-bottom: 100px;
}
.file {
	padding: 8px;
	margin: 0;
	cursor: pointer;
	border-bottom: 1px solid $gray;
	&:hover {
		background-color: $gray-light;
	}
	.icon-file-directory, .icon-file-text {
		//position: relative;
		//top: 2px;
	}
}
.file img {
	width: 16px;
}
.file-name {
	width: 25%;
	display: inline-block;
	a {
		color: $black !important;
		&:hover {
			text-decoration: none;
		}
		position:relative;
		top:-2px;
	}
}
.file-size {
	@include mobile {
		display: none;
	}
	width: 15%;
	margin-right: 10px;
}
.file-msg {
	@include mobile {
		display: none;
	}
	width: 40%;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	//font-style: italic;
	color: $gray-dark !important;
	a {
		font-size: $font-size - 1px !important;
		//position: relative;
		//top: 3px;
		color: $gray-dark !important;
	}
}
.file-time {
	float: right;
	display: inline-block;
	text-align: right;
	color: $gray-dark !important;
	//position: relative;
	//top: 3px;
}
.md {
	padding: 10px;
	pre, code {
		border: 0;
		background-color: #f7f7f7;
		padding: 10px;
		line-height: 20px;
		margin-bottom: 10px;
	}
	code {
		margin: 10px 0 10px 0;
		float: none;
		display: block;
	}
	h1 {
		margin: 10px 0 10px 0;
		font-size: 25px;
	}
	h2 {
		margin-top: 20px; // TODO
	}
	p {
		margin-bottom: 12px;
		line-height: 23px;
		font-size: 14px;
	}
	li {
		margin-left: 15px;
		line-height: 23px;
		font-size: 14px;
	}
	border-bottom: 1px solid $gray;
}
.empty-code-header {
	text-align:center;
	margin-top: -30px;
	margin-bottom: 20px;
}
.empty-code {
	font-family: $monoFont;
	font-size: 20px;
	text-align: center;
}
// BLOB ////////////////////////////////
.blob-info {
	background-color: $gray-light;
	padding: 12px;
	margin-right: -2px;
	font-family: $monoFont;
	border: 1px solid #ddd;
	border-bottom: 0;
	border-top: 0;
	a {
		float: right;
		font-weight: bold;
		color: $black;
		font-size: 15px;
		margin-left: 10px;
		// move to class
		user-select: none;
		-moz-user-select: -moz-none;
		-webkit-user-select: none;
	}
}
.blob-img {
	max-width: 100%; // asdf
}
.blob-header {
	padding: 10px;
	margin-right: -2px;
	background-color: #f1f8ff;
	border: 1px solid #c8e1ff;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.blob-time {
	float: right;
}
span.blob, div.blob, pre, code, code *, pre * {
	font-family: $monoFont;
}
span.blob {
	padding: 15px;
	display: block;
}
code, code * {
	white-space: pre;
}
div.blob, pre, code {
	border: 1px solid #ddd;
	//border-left: 0px;
	float: left;
	width: 100%;
	overflow-x: auto;
	margin-bottom:35px;
}
pre {
	padding: 5px;
}
// strings
code u, .diff-normal u, .diff-plus u, .diff-minus u {
	color: #183691;
	text-decoration: none;
}
// keywords
code b, .diff-normal b, .diff-plus b, .diff-minus b {
	color: #a71d5d;
	font-weight: normal;
}
// comments
code i, .diff-normal i {
	font-style: normal;
	color: #969896;
}
code a {
	display: inline-block;
	width: 30px;
	color: rgba(0, 0, 0, 0.3) !important;
	cursor: pointer;
	user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	text-align: right;
	padding-right: 15px;
	&:hover {
		text-decoration: none;
		color: rgba(0, 0, 0, 0.6) !important;
	}
}
.blob-line-counter {
	cursor: pointer;
	float: left;
	font-family: $monoFont;
	line-height: 16.6px;
	padding-top: 52px;
	margin-right: 5px;
	color: rgba(0, 0, 0, 0.3);
	border-right: 1px solid #eee;
	border-left: 1px solid #ddd;
	padding-right: 10px;
	padding-left: 10px;
	text-align: right;
	width: 30px;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}
// COMMITS ///////////////////////////////////////
.commit-day {
	color: #767676;
	padding: 30px 0 10px 0;
	border-bottom: 1px solid $gray;
}
.clog {
	border: 1px solid $gray;
	border-top: 0;
	padding: 10px;
}
img.clog-avatar {
	border-radius: 3px;
	width: 35px;
	//display: inline-block;
	float: left;
	margin-right: 10px;
}
.clog-msg {
	font-size: 14px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	a {
		color: $black !important;
		font-size: 15px;
		font-weight: 700;
	}
	padding-bottom:5px;
}
.clog-author {
	a, span {
		font-weight: bold;
		font-size: 11px;
		color: $gray-dark !important;
	}
}
.clog-time {
	font-size: 11px;
	color: $gray-dark;
}
// COMMIT ///////////////////////////////////////////////
.browse-files {
	float: right;
}
.commit-file {
	border: 1px solid $gray;
	border-radius: 3px;
	margin-top: 40px;
	white-space: nowrap; // horizontal scrolling
	overflow-x: scroll;
}
.diff-filename {
	a {
		font-family: $monoFont !important;
	}
	background-color: $gray-light;
	padding: 10px;
}
.diff-plus, .diff-plus *, .diff-minus, .diff-minus *, .diff-normal, .diff-normal *{
	line-height: 20px;
	font-family: $monoFont;
	padding-left: 3px;
}
.diff-plus, .diff-plus * {
	background-color: #eaffea;

	// display: block; TODO highlight the reset of hidden line
}
.diff-minus, .diff-minus * {
	background-color: #ffecec;
}
.diff-normal, .diff-normal * {
}
.diff-header {
	font-family: $monoFont;
	background-color: #f4f7fb;
	line-height: 25px;
	color: $gray-dark;
	padding-left: 10px;
}
.cnt-a, .cnt-b {
	width: 40px;
	display: inline-block;
	color: $gray-dark;
	padding-left: 10px;
}
.comments {
	margin-top: 50px;
}
.comment {
	min-height: 50px;
	padding: 10px 5px 10px 5px;
	border-top: 1px solid $gray;
}
.comment-text {
	//margin-left: 65px;
	margin-left: 15px;
	display: inline-block;
}
.comment-time {
	float: right;
	color: $gray_dark;
	font-style: italic;
	font-size: 80%;
}
.comment img, img.member {
	border-radius: 3px;
	margin-right: 5px;
	height: 48px;
	width: 48px;
	float: left;
}
.comment-form  {
	margin-left: 5px;
	margin-top: 10px;
	input {
		display: block;
		margin-left: 60px;
		margin-top: 5px;
	}
}
#txt-comment {
	height: 90px;
	width: 70%;
	padding: 8px;
	font-family: Monaco;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-left: 10px;
}
// BRANCHES ///////////////////////
.branch, .repo-user {
	width: 100%;
	border: 1px solid $gray;
	border-bottom: 0;
	padding: 10px;
	div {
		display: inline-block;
		width: 33%;
	}
}
// SEARCH ////////////////////////////
.search-a {
	display:block;
	color: $link-color !important;
	text-decoration: none !important;
	font-weight:bold;
	font-family:$font !important;
	//margin: 30px 0 10px 0;
}

// LOGIN //////////////////////////////
#div-center {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
	input[type=submit] {
		margin-top: 20px;
	}
}
#div-center2 {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	height: 100px;
	width: 700px;
}
.spinning {
	margin: 10px 0 20px 30px;
}
// COLLABORATORS ///////////////
.collaborator {
	border: 1px solid $gray;
	width: 200px;
	height: 50px;
	padding: 5px;
	margin-right: 30px;
	margin-bottom: 30px;
	display: block;
	float: left;
}
#coll-email {
	width: 200px;
	margin-bottom: 15px;
	display: block;
}
.info {
	margin-top: 30px;
}


// FORUM //////////////////////////////
.new-topic {
	margin: 20px 0 20px 0;
	display: block;
	width: 100px;
}
.topic {
	border: 1px solid #dfdfdf;
	border-bottom: 0;
	padding: 10px;
	font-size: 18px;
}
.new-topic-title {
	width: 400px !important;
}
textarea.new-topic-text {
	width: 400px;
	height: 200px;
}
// ABOUT //////////////////////////////
.about {
	margin-left: 100px;
	width: 450px;
	p {
		margin-top: 10px;
		line-height: 20px;
	}
}
// PULL REQUEST ////////////////////////
.merge-branch {
	vertical-align: top;
	width: 300px;
	//border: 1px solid #dfdfdf;
	display: inline-block;
	padding: 5px;
	margin-right: 30px;
	select {
		display: block;
		width: 100%;
		margin: 10px 0 10px 0;
	}
	a {
		font-size: 150%;
		font-weight: 300;
	}
	.pr-hash {
		float: right;
		font-size: 80%;
		color: $gray-dark;
	}
}
#btn-new-pr-tree {
	float: right;
	margin-right: 20px;
	margin-top: 15px;
}
.btn-new-pr {
	margin: 15px 0 20px 0 !important;
	float: right;
}
.mb-right {
	border-left: 1px solid #dfdfdf;
	padding-left: 30px;
}
#merge-conflict {
	display: none;
	margin-top: 20px;
}
#btn-create-pr {
	//display: none;
	margin-top: 10px;
}
table {
	border-collapse: collapse;
	width: 100%;
}
td {
	border: 1px solid $gray;
	padding: 10px;
	a {
		cursor: pointer;
	}
}
.pr-header td {
	font-weight: bold;
	height: 10px !important;

}
#txt-pr-title {
	display: block;
	margin: 20px 0 20px 0;
}


// BLOG /////////
.blog-date {
	color: $gray-dark;
	font-style: italic;
	font-size: 90%;
	margin-bottom: 20px;
}
// SETTINGS ///////////////////
.ssh-key {
	border: 1px solid $gray;
	padding: 15px;
	margin-bottom: 20px;
	b {
		display: block;
		font-size: 120%;
		margin-bottom: 10px;
	}
}
.key-contents {
	word-wrap: break-word;
	color: $gray-dark;
	font-size: 90%;
	font-family: $monoFont;
}
.key-added {
	float: right;
}
.txt-ssh-key {
	width: 100%;
	height: 60px;
}
.icon-trash-o {
	cursor: pointer;
}


