body, html, * {
  font-family: Roboto, 'Helvetica Neue', 'Segoe UI', 'Helvetica';
  font-size: 13px;
  color: #333;
  padding: 0;
  margin: 0; }

.content {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 200px;
  min-height: calc(100vh - 300px); }

#footer {
  max-width: 1000px;
  margin: 0 auto;
  text-align: right;
  bottom: 10px; }
  #footer a {
    text-transform: uppercase;
    color: #7d8998;
    margin-left: 20px; }
    #footer a:hover {
      color: #222;
      text-decoration: none; }

#logo {
  display: inline-block;
  margin-right: 5px; }
  #logo a#mainlogo:hover {
    text-decoration: none; }
  #logo a, #logo * {
    font-size: 25px;
    font-weight: 300; }
  #logo a {
    padding-top: 3px; }

h1, h2 {
  font-weight: 300;
  font-size: 20px;
  margin: 20px 0 20px 0; }

h2 {
  margin: 20px 0 20px 0; }

#txt-search {
  display: inline-block;
  padding: 6px;
  font-size: 14px;
  font-weight: 300;
  width: 30%;
  position: relative;
  top: -3px; }
  #txt-search :-moz-placeholder {
    color: red; }

#header {
  border-bottom: 1px solid #dfdfdf;
  background-color: #f8f8f8;
  height: 40px;
  padding-top: 8px;
  margin-bottom: 5px; }

a {
  color: #4078C0;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.clear {
  clear: both; }

.border {
  border: 1px solid #dfdfdf; }

.user-link {
  float: right;
  font-weight: bold; }
  .user-link .no-avatar {
    width: 32px;
    height: 32px; }
  .user-link img {
    height: 32px;
    width: 32px;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-right: 0; }
  .user-link a:hover {
    text-decoration: none; }
  .user-link a.usera {
    margin-left: -4px;
    border-radius: 5px 5px 5px 5px;
    font-weight: bold;
    height: 19px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    display: inline-block;
    font-weight: bold;
    padding: 5px;
    padding-top: 8px;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    white-space: nowrap;
    cursor: pointer; }
  .user-link span {
    position: relative;
    top: 3px;
    margin-left: 10px; }

.avatar {
  width: 25px;
  border-radius: 3px; }

.no-avatar {
  cursor: pointer;
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  font-size: 23px;
  font-weight: 300;
  border-radius: 5px;
  text-align: center;
  background-color: #d6dadc;
  color: #4d4d4d;
  margin-bottom: 5px;
  vertical-align: top; }

#btn-new-repo {
  margin-right: 15px; }

.signin {
  margin-top: -1px;
  display: block; }

.hr {
  border-top: 1px solid #dfdfdf;
  margin: 0;
  width: 100%; }

textarea {
  padding: 5px; }

#form-errors {
  display: none; }

#form-errors, .error {
  height: 30px;
  color: white;
  background-color: red;
  width: 100%;
  line-height: 30px;
  padding: 0px 10px 0 10px;
  font-weight: 300;
  font-size: 16px;
  margin-top: 20px; }

#form-ok {
  display: none;
  height: 30px; }

input[type=text], input[type=password] {
  padding: 5px;
  font-size: 14px;
  font-weight: 300;
  width: 250px; }

.field {
  margin-top: 25px;
  margin-bottom: 8px;
  font-weight: 300;
  font-size: 18px; }

.btn-info {
  color: #FFF;
  background-color: #0099eb; }

.btn-small {
  padding: 3px 6px 3px 6px !important;
  font-size: 90% !important; }

.btn-info:active {
  background-color: #31b0d5;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  outline-offset: -2px; }

.btn-info:hover {
  background: #0089d1; }

.btn, input[type=submit] {
  text-decoration: none;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 2px; }

input[type="button"] {
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333;
  display: inline-block;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  white-space: nowrap;
  cursor: pointer; }
  input[type="button"]:hover {
    background-color: #E6E6E6;
    border-color: #ADADAD; }
  input[type="button"]:active {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset; }

a.btn:hover {
  text-decoration: none !important; }

.lp-header {
  font-weight: 300;
  font-size: 37px;
  text-align: center;
  margin: 30px 0 60px 0; }

.infoblock {
  display: inline-block;
  line-height: 25px;
  font-weight: 300;
  vertical-align: top; }
  @media (min-width: 1000px) {
    .infoblock {
      width: 28%;
      margin-left: 32px; } }
  @media (max-width: 1000px) {
    .infoblock {
      width: 100%;
      margin-bottom: 20px; } }

.try {
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
  margin-top: 35px; }

.lp-main {
  width: calc(100% - 300px);
  display: inline-block; }
  .lp-main strong {
    display: block;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 10px; }
  .lp-main img {
    width: 100%;
    margin-top: 25px; }

.lp-form {
  width: 300px;
  display: inline-block;
  float: right; }

.github-login {
  height: 32px;
  margin-left: -2px;
  margin-top: 15px; }

.index-repo, .index-repo-header {
  width: 100%;
  height: 40px;
  cursor: pointer;
  border: 1px solid #dfdfdf;
  border-top: 0px; }
  .index-repo:hover, .index-repo-header:hover {
    background-color: #f5f5f5; }
  .index-repo a, .index-repo-header a {
    font-size: 18px;
    font-weight: 300;
    padding-left: 8px;
    text-decoration: none !important;
    line-height: 40px;
    display: block; }
  .index-repo .repo-name, .index-repo-header .repo-name {
    width: 26%;
    margin-left: 10px; }
  .index-repo div, .index-repo-header div {
    width: 13%;
    display: inline-block; }
  .index-repo .icon-trash-o, .index-repo-header .icon-trash-o {
    float: right;
    margin: 12px 10px 0px 0px; }

.index-repo-header {
  border-bottom: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
  font-weight: bold;
  margin-top: 30px;
  line-height: 25px;
  height: 25px !important;
  cursor: default !important; }
  @media (max-width: 1000px) {
    .index-repo-header {
      display: none; } }
  .index-repo-header a {
    display: inline;
    line-height: 25px;
    color: #333 !important;
    font-weight: bold;
    font-size: 13px; }

.filter-repos {
  margin-top: 20px; }

.clone-all-repos {
  margin-top: 20px;
  float: right;
  display: block; }

@media (max-width: 1000px) {
  .repo-field {
    display: none !important; } }

.repo-tabs {
  position: fixed;
  left: 5px;
  top: 300px; }
  .repo-tabs a {
    display: block; }

.repo-stats {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  margin-bottom: 10px; }
  .repo-stats a.menu {
    display: inline-block;
    width: 14%;
    padding: 10px;
    text-align: center;
    color: black !important; }
    @media (max-width: 1000px) {
      .repo-stats a.menu {
        display: block;
        width: 100%; } }
    .repo-stats a.menu:hover, .repo-stats a.menu:hover * {
      color: #4078C0 !important;
      text-decoration: none; }
  .repo-stats span {
    position: relative;
    top: 2px; }

.tree-path, .tree-path a, h3 a {
  display: inline-block;
  font-size: 20px !important;
  font-weight: 300;
  margin: 7px 0 7px 0; }

.settings span {
  font-size: 24px;
  position: relative;
  top: 5px; }

.settings:hover {
  text-decoration: none !important; }

#txt-url {
  width: 180px; }

#select-branch {
  padding: 5px;
  width: 20%;
  float: right;
  display: block;
  margin-top: 18px; }

.top-files-btn {
  display: block;
  float: left;
  width: 20%;
  height: 36px;
  line-height: 37px;
  text-align: center;
  border: 1px solid #dfdfdf;
  border-radius: 3px; }

.langs {
  display: flex;
  justify-content: space-around; }

.lang-stats-header {
  margin-left: 22%;
  padding: 5px 5px 0 5px;
  border: 1px solid #dfdfdf;
  border-radius: 3px; }

.lang-stats-bar {
  margin: 0 -5px -3px -5px;
  border-bottom-left-radius: 5px; }
  .lang-stats-bar div {
    margin-right: -4px;
    height: 5px;
    display: inline-block; }

.lang-stat {
  margin: 2px; }

.lstat-color-0 {
  background-color: #3572a5; }

.lstat-color-1 {
  background-color: #c377e0; }

.lstat-color-2 {
  background-color: #e44b23; }

.lstat-color-3 {
  background-color: #f1e05a; }

.lstat-color-4 {
  background-color: #61bd4f; }

.lang-stat-dot {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  top: 1px;
  margin-right: 3px; }

.lang-stat-loc {
  font-style: italic;
  font-size: 80%; }

.tree-header {
  margin-top: 20px; }

.files {
  margin: 0 auto;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  margin-bottom: 100px; }
  @media (min-width: 1000px) {
    .files {
      max-width: 1000px;
      min-width: 1000px; } }
  @media (max-width: 1000px) {
    .files {
      width: 100%; } }

.file {
  padding: 8px;
  margin: 0;
  cursor: pointer;
  border-bottom: 1px solid #dfdfdf; }
  .file:hover {
    background-color: #f3f3f3; }

.file img {
  width: 16px; }

.file-name {
  width: 25%;
  display: inline-block; }
  .file-name a {
    color: #333 !important;
    position: relative;
    top: -2px; }
    .file-name a:hover {
      text-decoration: none; }

.file-size {
  width: 15%;
  margin-right: 10px; }
  @media (max-width: 1000px) {
    .file-size {
      display: none; } }

.file-msg {
  width: 40%;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #777 !important; }
  @media (max-width: 1000px) {
    .file-msg {
      display: none; } }
  .file-msg a {
    font-size: 12px !important;
    color: #777 !important; }

.file-time {
  float: right;
  display: inline-block;
  text-align: right;
  color: #777 !important; }

.md {
  padding: 10px;
  border-bottom: 1px solid #dfdfdf; }
  .md pre, .md code {
    border: 0;
    background-color: #f7f7f7;
    padding: 10px;
    line-height: 20px;
    margin-bottom: 10px; }
  .md code {
    margin: 10px 0 10px 0;
    float: none;
    display: block; }
  .md h1 {
    margin: 10px 0 10px 0;
    font-size: 25px; }
  .md h2 {
    margin-top: 20px; }
  .md p {
    margin-bottom: 12px;
    line-height: 23px;
    font-size: 14px; }
  .md li {
    margin-left: 15px;
    line-height: 23px;
    font-size: 14px; }

.empty-code-header {
  text-align: center;
  margin-top: -30px;
  margin-bottom: 20px; }

.empty-code {
  font-family: "Courier New", Monaco;
  font-size: 20px;
  text-align: center; }

.blob-info {
  background-color: #f3f3f3;
  padding: 12px;
  margin-right: -2px;
  font-family: "Courier New", Monaco;
  border: 1px solid #ddd;
  border-bottom: 0;
  border-top: 0; }
  .blob-info a {
    float: right;
    font-weight: bold;
    color: #333;
    font-size: 15px;
    margin-left: 10px;
    user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none; }

.blob-img {
  max-width: 100%; }

.blob-header {
  padding: 10px;
  margin-right: -2px;
  background-color: #f1f8ff;
  border: 1px solid #c8e1ff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }

.blob-time {
  float: right; }

span.blob, div.blob, pre, code, code *, pre * {
  font-family: "Courier New", Monaco; }

span.blob {
  padding: 15px;
  display: block; }

code, code * {
  white-space: pre; }

div.blob, pre, code {
  border: 1px solid #ddd;
  float: left;
  width: 100%;
  overflow-x: auto;
  margin-bottom: 35px; }

pre {
  padding: 5px; }

code u, .diff-normal u, .diff-plus u, .diff-minus u {
  color: #183691;
  text-decoration: none; }

code b, .diff-normal b, .diff-plus b, .diff-minus b {
  color: #a71d5d;
  font-weight: normal; }

code i, .diff-normal i {
  font-style: normal;
  color: #969896; }

code a {
  display: inline-block;
  width: 30px;
  color: rgba(0, 0, 0, 0.3) !important;
  cursor: pointer;
  user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  text-align: right;
  padding-right: 15px; }
  code a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6) !important; }

.blob-line-counter {
  cursor: pointer;
  float: left;
  font-family: "Courier New", Monaco;
  line-height: 16.6px;
  padding-top: 52px;
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.3);
  border-right: 1px solid #eee;
  border-left: 1px solid #ddd;
  padding-right: 10px;
  padding-left: 10px;
  text-align: right;
  width: 30px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none; }

.commit-day {
  color: #767676;
  padding: 30px 0 10px 0;
  border-bottom: 1px solid #dfdfdf; }

.clog {
  border: 1px solid #dfdfdf;
  border-top: 0;
  padding: 10px; }

img.clog-avatar {
  border-radius: 3px;
  width: 35px;
  float: left;
  margin-right: 10px; }

.clog-msg {
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 5px; }
  .clog-msg a {
    color: #333 !important;
    font-size: 15px;
    font-weight: 700; }

.clog-author a {
  font-weight: bold;
  font-size: 11px;
  color: #777 !important; }

.clog-time {
  font-size: 11px;
  color: #777; }

.browse-files {
  float: right; }

.commit-file {
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  margin-top: 40px;
  white-space: nowrap;
  overflow-x: scroll; }

.diff-filename {
  background-color: #f3f3f3;
  padding: 10px; }
  .diff-filename a {
    font-family: "Courier New", Monaco !important; }

.diff-plus, .diff-plus *, .diff-minus, .diff-minus *, .diff-normal, .diff-normal * {
  line-height: 20px;
  font-family: "Courier New", Monaco;
  padding-left: 3px; }

.diff-plus, .diff-plus * {
  background-color: #eaffea; }

.diff-minus, .diff-minus * {
  background-color: #ffecec; }

.diff-header {
  font-family: "Courier New", Monaco;
  background-color: #f4f7fb;
  line-height: 25px;
  color: #777;
  padding-left: 10px; }

.cnt-a, .cnt-b {
  width: 40px;
  display: inline-block;
  color: #777;
  padding-left: 10px; }

.comments {
  margin-top: 50px; }

.comment {
  min-height: 50px;
  padding: 10px 5px 10px 5px;
  border-top: 1px solid #dfdfdf; }

.comment-text {
  margin-left: 15px;
  display: inline-block; }

.comment-time {
  float: right;
  color: #777;
  font-style: italic;
  font-size: 80%; }

.comment img, img.member {
  border-radius: 3px;
  margin-right: 5px;
  height: 48px;
  width: 48px;
  float: left; }

.comment-form {
  margin-left: 5px;
  margin-top: 10px; }
  .comment-form input {
    display: block;
    margin-left: 60px;
    margin-top: 5px; }

#txt-comment {
  height: 90px;
  width: 70%;
  padding: 8px;
  font-family: Monaco;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-left: 10px; }

.branch, .repo-user {
  width: 100%;
  border: 1px solid #dfdfdf;
  border-bottom: 0;
  padding: 10px; }
  .branch div, .repo-user div {
    display: inline-block;
    width: 33%; }

.search-a {
  display: block;
  color: #4078C0 !important;
  text-decoration: none !important;
  font-weight: bold;
  font-family: "Helvetica" !important; }

#div-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px; }
  #div-center input[type=submit] {
    margin-top: 20px; }

#div-center2 {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100px;
  width: 700px; }

.spinning {
  margin: 10px 0 20px 30px; }

.collaborator {
  border: 1px solid #dfdfdf;
  width: 200px;
  height: 50px;
  padding: 5px;
  margin-right: 30px;
  margin-bottom: 30px;
  display: block;
  float: left; }

#coll-email {
  width: 200px;
  margin-bottom: 15px;
  display: block; }

.info {
  margin-top: 30px; }

.new-topic {
  margin: 20px 0 20px 0;
  display: block;
  width: 100px; }

.topic {
  border: 1px solid #dfdfdf;
  border-bottom: 0;
  padding: 10px;
  font-size: 18px; }

.new-topic-title {
  width: 400px !important; }

textarea.new-topic-text {
  width: 400px;
  height: 200px; }

.about {
  margin-left: 100px;
  width: 450px; }
  .about p {
    margin-top: 10px;
    line-height: 20px; }

.merge-branch {
  vertical-align: top;
  width: 300px;
  display: inline-block;
  padding: 5px;
  margin-right: 30px; }
  .merge-branch select {
    display: block;
    width: 100%;
    margin: 10px 0 10px 0; }
  .merge-branch a {
    font-size: 150%;
    font-weight: 300; }
  .merge-branch .pr-hash {
    float: right;
    font-size: 80%;
    color: #777; }

#btn-new-pr-tree {
  float: right;
  margin-right: 20px;
  margin-top: 15px; }

.btn-new-pr {
  margin: 15px 0 20px 0 !important;
  float: right; }

.mb-right {
  border-left: 1px solid #dfdfdf;
  padding-left: 30px; }

#merge-conflict {
  display: none;
  margin-top: 20px; }

#btn-create-pr {
  margin-top: 10px; }

table {
  border-collapse: collapse;
  width: 100%; }

td {
  border: 1px solid #dfdfdf;
  padding: 10px; }
  td a {
    cursor: pointer; }

.pr-header td {
  font-weight: bold;
  height: 10px !important; }

#txt-pr-title {
  display: block;
  margin: 20px 0 20px 0; }

.blog-date {
  color: #777;
  font-style: italic;
  font-size: 90%;
  margin-bottom: 20px; }

.ssh-key {
  border: 1px solid #dfdfdf;
  padding: 15px;
  margin-bottom: 20px; }
  .ssh-key b {
    display: block;
    font-size: 120%;
    margin-bottom: 10px; }

.key-contents {
  word-wrap: break-word;
  color: #777;
  font-size: 90%;
  font-family: "Courier New", Monaco; }

.key-added {
  float: right; }

.txt-ssh-key {
  width: 100%;
  height: 60px; }

.icon-trash-o {
  cursor: pointer; }
