<!DOCTYPE html>
<html>
	<head>
		@include '../layout/head.html'
	</head>
	<body>
		@include '../layout/header.html'

		<div class="content">
			<h1>Admin panel</h1>

			<div class="admin-menu">
				<span>Settings</span>
				|
				<a href="/admin/users">Users</a>
				|
				<a href="/admin/statistics">Statistics</a>
			</div>

			<form action='/admin/settings' method='post' class='form' autocomplete='off'>
				<div class="field">
					<label>OAuth client id:</label>
					<input name='oauth_client_id' type='text' placeholder='...'>
				</div>
				<div class="field">
					<label>OAuth client secret:</label>
					<input name='oauth_client_secret' type='text' placeholder='...'>
				</div>
				<div class="field">
					<input type='submit' value='Update settings'>
				</div>
			</form>
		</div>

		@js '/js/block-form.js'
		@include '../layout/footer.html'
	</body>
</html>
