@include '../header.html'

<a href="/admin"><h1>Admin panel</h1></a>
<br>

<h3>Settings</h3>
<form action='/admin/settings' method='post' class='user-settings settings' autocomplete='off'>
    .data-options m-right {
        <div>
            <label>OAuth client id</label>
            <input name='oauth_client_id' type='text' placeholder='SJP1JME7H0XN3GBU1DXP'>
        </div>
        <div>
            <label>OAuth client secret</label>
            <input name='oauth_client_secret' type='text' placeholder='2XL8M65OVQQVV8BXZGOYHV9FX2QG9WJ7IFYGPG2J'>
        </div>
    }
    <input type='submit' value='Update settings'>
</form>

@include '../footer.html'

