<!DOCTYPE html>
<html>
	<head>
		@include '../layout/head.html'
	</head>
	<body>
		@include '../layout/header.html'

		<div class="content">
			<h1>Admin panel</h1>

			<div class="admin-menu">
				<a href="/admin/settings">Settings</a>
				|
				<span>Users</span>
				|
				<a href="/admin/statistics">Statistics</a>
			</div>

			.clog-block {
				@for user in users
					.clog {
						<form action='/admin/users/@user.id' method='post' class='data'>
							.data-user {
								.avatar {
									<img src="@{app.prepare_user_avatar_url(user.avatar)}">
								}
								<label>@user.username</label>
							}
							<label class='data-show-user' id='l_@user.id' data-id="@user.id">Show user</label>
							<div class='data-box' id='@user.id'>
								.clog-block data-emails {
									<label>User emails</label>
									<ul>
										@for email in user.emails
											<li class='clog data-email'>@email.email</li>
										@end
									</ul>
								}
								<div class='user-settings'>
									.data-options {
										<label>Settings</label>
										<div>
											<input name="stop-session" type="checkbox">
											<label>Clear user sessions</label>
										</div>
										<div>
											<input name="is-blocked" type="checkbox"
											@if user.is_blocked
												checked
											@end
											>
											<label>Blocked status</label>
										</div>
										<div>
											<input name="is-admin" type="checkbox"
											@if user.is_admin
												checked
											@end
											>
											<label>Admin user</label>
										</div>
									}
									<input type="submit" value="Edit user">
								</div>
							</div>
						</form>
					}
				@end
			}

			<div class="buttons">
				@if is_first_page
					<a href="/admin/users/@prev_page" class="button disabled">Prev</a>
				@else
					<a href="/admin/users/@prev_page" class="button">Prev</a>
				@end

				<span>@page of @page_count</span>

				@if is_last_page
					<a href="/admin/users/@next_page" class="button disabled">Next</a>
				@else
					<a href="/admin/users/@next_page" class="button">Next</a>
				@end
			</div>
		</div>

		@js '/js/users.js'
		@include '../layout/footer.html'
	</body>
</html>
