@include '../header.html'

.div-center {
	.form-error {
		@app.form_error
	}

	<form action="/@app.user.username/@app.repo.name/settings" method="post">
		<input type="password" name="webhook_secret" value="@app.repo.webhook_secret" placeholder="WebhookSecret">
		<input type="submit" value="Update repo">
	</form>

	<form action="/@app.user.username/@app.repo.name" method="delete">
		<input type="text" name="verify" placeholder="Type your repo path username/reponame" required>
		<input type="submit" value="Delete repo">
	</form>

	<form action="/@app.user.username/@app.repo.name/move" method="post">
		<input type="text" name="dest" placeholder="Destination username" required>
		<input type="text" name="verify" placeholder="Type your repo path username/reponame" required>
		<input type="submit" value="Move repo">
	</form>

}

@include '../footer.html'
