.repo-tabs {
	position: fixed;
	left: 5px;
	top: 300px;

	a {
	display: block;
	}
}

.repo-wrapper {
	display: grid;
	gap: 10px;
	grid-template-areas: "branch branch . about";
}

.repo-stats {
	a.menu {
		display: inline-block;

		@include mobile {
			display: block;
			width: 100%;
		}

		padding: 10px 10px 10px 0;
		color: black !important;

		&:hover,
		&:hover * {
			color: $link-color !important;
			text-decoration: none;
		}
	}

	span {
		position: relative;
		top: 2px;
	}

	svg {
		position: relative;
		top: 2px;
		height: 14px;
	}
}

.repo-about {
	grid-area: about;

	padding: 10px;
}

.branch-specific-container {
	padding: 10px 10px 0 0;
	grid-area: branch;

	.branch-select {
		border: 1px solid $gray;
		border-radius: $medium-radius;
		padding: 5px;
		outline: none;
	}

.branch-specific-item {
	display: inline;
	margin-left: 10px;

	a {
		width: 14%;
		text-align: center;
		color: black !important;

		svg {
			position: relative;
			top: 2px;
			height: 14px;
		}
	}
	}
}

.repo-clone {
	margin-top: 10px;
}

.star-button {
	margin-top: 10px;
	min-width: 80px;

	svg {
		display: block;
		height: 16px;
		width: 16px;
		padding-top: 4px;
		margin: 0 auto;
	}
}

.tree-path {
	margin-top: 5px;
}

.tree-path a,
h3 a {
	display: inline-block;
	font-size: 18px !important;
}

.readme {
	border: 1px solid #dfdfdf;
	border-radius: 3px;

	padding: 20px 30px 20px 30px;
	margin-top: 10px;

	> * {
		margin: 10px 0;
	}

	code {
		border: 1px solid $black;
		border-radius: $small-radius;
		padding: 5px;
	}

	h1 {
		font-size: 2em;
		border-bottom: 1px solid #dfdfdf;
	}

	h2 {
		font-size: 1.75em;
	}

	h3 {
		font-size: 1.5em;
	}

	h4 {
		font-size: 1.25em;
	}

	h5 {
		font-size: 1em;
	}

	h6 {
		font-size: 0.75em;
	}

	img {
		max-width: 100%;
	}
}

.issue-id-anchor {
	color: $link-color !important;
}

.repo-code-container {
	position: relative;
	display: inline-block;

	margin-left: 10px;
}

.repo-code-button {
	width: 70px;
	padding: 5px;

	background-color: #238636;
	border-radius: $small-radius;
	color: $white;

	text-align: center;
}

.repo-clone-dropdown {
	background-color: $black;
	border-radius: $medium-radius;
	padding: 10px;
	position: absolute;

	display: none;
	width: 400px;

	color: $white;

	z-index: 1;

	input {
		color: $white;

		width: 328px;
	}

	.copy-clone-url-button {
		background-color: #fff;
	}

	.copy-clone-url-button:hover {
		background-color: #1a7be9;
	}
}

.repo-code-container:hover .repo-clone-dropdown {
  display: block;
}

.clone-input-group {
	margin-top: 10px;
}
