.profile-block-container {
	display: grid;
	grid-template-areas: "profile repos";
	grid-template-columns: 260px 1fr;
}

.profile-block__left {
	grid-area: profile;
	max-width: 300px;
}

.profile-block__right {
	grid-area: repos;
	padding-left: 10px;
	padding-top: 10px;
	width: 100%;
}

.profile-avatar {
	height: 256px;
	width: 256px;
	border-radius: 100%;
	border: 2px solid #24292e;
	margin-top: 5px;
	overflow: hidden;
	cursor: pointer;

	img {
		height: 256px;
		width: 256px;
		object-fit: cover;
	}
}

.edit-profile-button {
	width: 256px;
}

.new-ssh-key-block {
	border-bottom: 1px solid $gray;
	padding-bottom: 10px;
	margin: 10px 0 10px 0;
}

.ssh-key {
	border: 1px solid $gray;
	border-radius: $small-radius;
	padding: 10px;
	margin-top: 10px;
}

.ssh-key-remove {
	margin-top: 10px;
}

.profile-activities {
	margin-top: 25px;
}

.activity {
	border: 1px solid $gray;
	border-radius: $small-radius;
	padding: 10px;
	margin-top: 10px;
}
