.commit-day-title {
	color: #767676;
	padding: 30px 0 10px 0;
}

.clog {
	border: 1px solid $gray;
	padding: 10px;
	border-top: 0;
}

.clog:first-child {
	border-top: 1px solid $gray;
	border-top-left-radius: $medium-radius !important;
	border-top-right-radius: $medium-radius !important;
}

.clog:last-child {
	border-bottom-left-radius: $medium-radius !important;
	border-bottom-right-radius: $medium-radius !important;
}

img.clog-avatar {
	border-radius: $small-radius;
	width: 35px;
	//display: inline-block;
	float: left;
	margin-right: 10px;
}

.clog-msg {
	font-size: 14px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	a {
		color: $black !important;
		font-size: 15px;
		font-weight: 700;
	}
	padding-bottom: 5px;
}

.clog-time {
	font-size: 11px;
	color: $gray-dark;
}

.commit-info-block {
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	padding: 10px;
}

.commit-file-diff {
	margin-top: 10px;

	pre {
		overflow-y: hidden;
		overflow-x: scroll;
	}

	pre > *{
		font-family:Roboto-Mono, Menlo;
	}

	.hl_table a {
		padding-right: 5px;
		padding-left: 5px;
		float: right;
	}

	.hl_table {
		width: 1000px;
		border: 1px solid #dfdfdf;
		border-radius: 3px;
	}

	.hl_table b {
		color: rgb(150, 77, 0);
	}

	.hl_table u {
		color: rgb(0, 124, 255);
		text-decoration: none;
	}

	.hl_table i {
		color: rgb(3, 125, 3);
	}

	.a {
		background-color: #90fb90;
	}

	.d {
		background-color: #f27e7e;
	}
}

.buttons {
	margin-top: 10px;
}
