<!DOCTYPE html>
<html>
<head>
	@include 'layout/head.html'
</head>
<body>
	@include 'layout/header.html'

	<div class="content">
		<div class="clone-status clone-status--failed">
			<h1>%clone_size_limit_title</h1>
			<p>%clone_size_limit_message</p>
			@if clone_url != ''
				<p class="clone-status-url">
					%repo_being_cloned_clone_url <code>@clone_url</code>
				</p>
			@end
			<div class="clone-status-actions">
				<a class="clone-status-button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick-subscriptions&amp;business=paypal%40gitly.org&amp;item_name=Gitly%20Premium&amp;currency_code=USD&amp;a3=5.00&amp;p3=1&amp;t3=M&amp;src=1">%clone_size_limit_purchase_premium</a>
				@if app.config.usdt_wallet != ''
					<a class="clone-status-button clone-status-button--usdt" href="/pricing#usdt-payment">%clone_size_limit_purchase_usdt</a>
				@end
				<a class="clone-status-button clone-status-button--secondary" href="/pricing">%clone_size_limit_pricing_link</a>
			</div>
			@if clone_progress != ''
				<pre class="clone-status-log">@clone_progress</pre>
			@end
		</div>
	</div>

	@include 'layout/footer.html'
</body>
</html>
