<!DOCTYPE html>
<html>
	<head>
		@include 'layout/head.html'
	</head>
	<body>
		@include 'layout/header.html'

		<div class="content">
			@include 'layout/repo_menu.html'

			<div class="commit-info-block">
				span.additions {
					Additions: @all_adds
				}

				span.deletions {
					Deletions: @all_dels
				}

				<span>
					<a href="@patch_url">View patch</a>
				</span>
			</div>

			@for _, src in sources
				<div class="commit-file-diff">
					<pre>@src</pre>
				</div>
			@end
		</div>

		@include 'layout/footer.html'
	</body>
</html>
