@include 'header.html'

@for day, commits2 in d_commits
	.commit-day {
		.commit-day-title {
			Commits @msg @day
		}
		.clog-block {
			@for commit in commits2
				.clog {
					.clog-msg {
						<a href='/@app.repo.user_name/@app.repo.name/commit/@commit.hash'>@commit.message</a>
					}
					span.clog-author {
						<a href=''>@commit.author</a>
					}
					span.clog-time {
						commited @commit.relative()
					}
		<!--
					<i class="commit_hash">@commit.hash</i>
					-->
				}
			@end
		}
	}
@end

<div class="buttons">
	<br/>
@if first
	<a href="/@app.repo.user_name/@app.repo.name/commits/@last_site" class="button disabled">Prev</a>
@else
	<a href="/@app.repo.user_name/@app.repo.name/commits/@last_site" class="button">Prev</a>
@end

@if last
	<a href="/@app.repo.user_name/@app.repo.name/commits/@next_site" class="button disabled">Next</a>
@else
	<a href="/@app.repo.user_name/@app.repo.name/commits/@next_site" class="button">Next</a>
@end
</div>
