@header

<p>
Gitly is an upcoming open-source development platform that is going to have
<li>Source code hosting (git and Mercurial)
<li>Project management
<li>CI & CD

<br><br>

<p>
Main features:

<p>
- Light and fast <br>
- Minimal amount of RAM usage (works great on the cheapest $3.5 AWS Lightsail instance) <br>
- Easy to deploy (a single <1 MB binary that includes compiled templates) <br>
- Works without JavaScript <br>
- Detailed language stats for each directory <br>
- "Top files" feature to give an overview of the project <br>
</p>

<br><br>

Check out Gitly in action by browsing the V language repo:

<a href='/vlang/v/tree'>gitly.org/vlang/v</a>

<br><br>

<table>
<tr>
	<td>
	<td>GitHub</td>
	<td>GitLab</td>
	<td>Gitly</td>
</tr>
<tr>
	<td>Open source</td>
	<td>No</td>
	<td>Yes</td>
	<td>Yes</td>
</tr>
<tr>
	<td>All features are open source</td>
	<td>No</td>
	<td>No</td>
	<td>Yes</td>
</tr>
<tr>
	<td>Minimum RAM</td>
	<td>32 GB <a target=_blank href='https://enterprise.github.com/faq'>[0]</a>
	<td>4 GB <a target=_blank href='https://docs.gitlab.com/ee/install/requirements.html#memory'>[1]</a>
	<td>128 MB</td>
</tr>
<tr>
	<td>Cheapest server
	<td>$160
	<td>$20
	<td>$3.50
	<a target=_blank href='https://aws.amazon.com/lightsail/pricing/'>[2]</a>
</tr>
<tr>
	<td>Works without JS
	<td>Yes
	<td>No
	<td>Yes
	<a target=_blank href='https://aws.amazon.com/lightsail/pricing/'>[2]</a>
</tr>
<tr>
	<td>Installation size
	<td>TODO
	<td>TODO
	<td><1 MB
</tr>
</table>




@footer




