@include 'header.html'

<style>
table, td {
border-collapse:collapse;
border:1px solid#dfdfdf;
}
td {
	padding: 3px;
}

</style>

<p>
Gitly is an upcoming open-source development platform that is going to have
<li>Source code hosting <!--(git and Mercurial)-->
<li>Project management
<li>CI & CD

<br><br>

<p>
Main features:

<p>
- Light and fast <br>
- Minimal amount of RAM usage (works great on the cheapest $3.5 AWS Lightsail instance) <br>
- Easy to deploy (a single <1 MB binary that includes compiled templates) <br>
- Works without JavaScript <br>
- Detailed language stats for each directory <br>
- "Top files" feature to give an overview of the project <br>
- Very fast CI with pre-cached dependencies <br>
- Submitting a pull request without forking the repository
</p>


<br><br>

<table>
<tr>
	<td>
	<td>GitHub</td>
	<td>GitLab</td>
	<td>Gitly</td>
</tr>
<tr>
	<td>Open source</td>
	<td>No</td>
	<td>Yes</td>
	<td>Yes</td>
</tr>
<tr>
	<td>All features are open source</td>
	<td>No</td>
	<td>No</td>
	<td>Yes</td>
</tr>
<tr>
	<td>Minimum RAM</td>
	<td>32 GB <a target=_blank href='https://enterprise.github.com/faq'>[0]</a>
	<td>4 GB <a target=_blank href='https://docs.gitlab.com/ee/install/requirements.html#memory'>[1]</a>
	<td>128 MB</td>
</tr>
<tr>
	<td>Cheapest server
	<td>$160
	<td>$20
	<td>$3.50
	<a target=_blank href='https://aws.amazon.com/lightsail/pricing/'>[2]</a>
</tr>
<tr>
	<td>Works without JS
	<td>Partially
	<td>No
	<td>Yes
</tr>
<tr>
	<td>Detailed language stats
	<td>No
	<td>No
	<td>Yes
</tr>
<tr>
	<td>Installation size
	<td>?
	<td>3.9 GB
	<a target=_blank href='https://gist.github.com/medvednikov/a90fba85e5e2703a7a6270f1adc50dad'>[3]</a>
	<td><1 MB
</tr>
<tr>
	<td>CI features
	<td>
	<td>
	<td>
<tr>
	<td># CPU cores
	<td>2
	<td>1
	<td>4 - 8
</tr>
<tr>
	<td>FreeBSD
	<td>No
	<td>No
	<td>Yes
</tr>
<tr>
	<td>macOS
	<td>Yes
	<td>No
	<td>Yes
</tr>
<tr>
	<td>Built-in dependency cache
	<td>No
	<td>No
	<td>Yes
</tr>
<tr>
	<td>CI minutes in a basic package
	<td>3000
	<a target=_blank href='https://docs.github.com/en/github/setting-up-and-managing-billing-and-payments-on-github/about-billing-for-github-actions'>[4]</a>
	<td>2000
	<a target=_blank href='https://about.gitlab.com/pricing/'>[5]</a>
	<td>43200
</tr>
</table>

<br><br>

Check out Gitly in action by browsing the V language repo:

<a href='/medvednikov/v'>gitly.org/vlang/v</a>

<a href='/medvednikov/v'>
<img width=600 src='https://user-images.githubusercontent.com/687996/85933714-b195fe80-b8da-11ea-9ddd-09cadc2103e4.png'>
</a>

@include 'footer.html'




