<!DOCTYPE html>
<html>
	<head>
		@include 'layout/head.html'
	</head>
	<body>
		@include 'layout/header.html'

		<article>
			<div class="block">
				<h3>%index_intro</h3>

				<ul class="list">
					<li>%index_source_hosting</li>
					<li>%index_project_management</li>
					<li>%index_ci_cd</li>
				</ul>
			</div>

			<div class="block">
				<h3>%index_main_features</h3>

				<ul class="list">
					<li>%index_feature_light_fast</li>
					<li>%index_feature_minimal_ram</li>
					<li>%index_feature_easy_deploy</li>
					<li>%index_feature_no_js</li>
					<li>%index_feature_lang_stats</li>
					<li>%index_feature_top_files</li>
					<li>%index_feature_fast_ci</li>
					<li>%index_feature_pr_no_fork</li>
				</ul>
			</div>

			<div class="block">
				<table class="table-features">
					<tr>
						<td></td>
						<td>GitHub</td>
						<td>GitLab</td>
						<td>Gitly</td>
					</tr>
					<tr>
						<td>%index_open_source</td>
						<td>%index_no</td>
						<td>%index_yes</td>
						<td>%index_yes</td>
					</tr>
					<tr>
						<td>%index_all_open_source</td>
						<td>%index_no</td>
						<td>%index_no <a href="/open-source">[*]</a></td>
						<td>%index_yes</td>
					</tr>
					<tr>
						<td>%index_min_ram</td>
						<td>32 GB <a target="_blank" href="https://docs.github.com/en/enterprise-server/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-aws#minimum-requirements">[0]</a></td>
						<td>4 GB <a target="_blank" href="https://docs.gitlab.com/ee/install/requirements.html#memory">[1]</a></td>
						<td>128 MB</td>
					</tr>
					<tr>
						<td>%index_cheapest_server</td>
						<td>$160</td>
						<td>$20</td>
						<td>$3.50<a target="_blank" href="https://aws.amazon.com/lightsail/pricing/">[2]</a></td>
					</tr>
					<tr>
						<td>%index_works_no_js</td>
						<td>%index_partially</td>
						<td>%index_no</td>
						<td>%index_yes</td>
					</tr>
					<tr>
						<td>%index_detailed_lang_stats</td>
						<td>%index_no</td>
						<td>%index_no</td>
						<td>%index_yes</td>
					</tr>
					<tr>
						<td>%index_install_size</td>
						<td>?</td>
						<td>3.9 GB <a target="_blank" href="https://gist.github.com/medvednikov/a90fba85e5e2703a7a6270f1adc50dad">[3]</a>
						</td>
						<td><1 MB</td>
					</tr>
					<tr>
						<td>%index_load_time</td>
						<td>3s</td>
						<td>2s</td>
						<td>0.3s</td>
					</tr>
					<tr>
						<td style='text-align:center'><b>%index_ci_features_header</b></td>
						<td></td>
						<td></td>
						<td></td>
					<tr>
						<td>%index_cpu_cores</td>
						<td>2</td>
						<td>1</td>
						<td>4 - 8</td>
					</tr>
					<tr>
						<td>FreeBSD</td>
						<td>%index_no</td>
						<td>%index_no</td>
						<td>%index_yes</td>
					</tr>
					<tr>
						<td>macOS</td>
						<td>%index_yes</td>
						<td>%index_no</td>
						<td>%index_yes</td>
					</tr>
					<tr>
						<td>%index_dep_cache</td>
						<td>%index_no</td>
						<td>%index_no</td>
						<td>%index_yes</td>
					</tr>
					<tr>
						<td>%index_separate_instance</td>
						<td>%index_no</td>
						<td>%index_no</td>
						<td>%index_yes</td>
					</tr>
					<tr>
						<td>%index_instant_start</td>
						<td>%index_no</td>
						<td>%index_no</td>
						<td>%index_yes</td>
					</tr>
					<tr>
						<td>%index_stop_ci</td>
						<td>%index_no</td>
						<td>%index_no</td>
						<td>%index_yes</td>
					</tr>
					<tr>
						<td>%index_logs_storage_time</td>
						<td>%index_three_months</td>
						<td>%index_three_months</td>
						<td>%index_six_months</td>
					</tr>
					<tr>
						<td>%index_basic_ci_minutes</td>
						<td>3000<a target="_blank" href="https://docs.github.com/en/github/setting-up-and-managing-billing-and-payments-on-github/about-billing-for-github-actions">[4]</a></td>
						<td>10000<a target="_blank" href="https://about.gitlab.com/pricing/">[5]</a></td>
						<td>43200</td>
					</tr>
					<tr>
						<td>%index_price_per_user</td>
						<td>$4</td>
						<td>$29</a></td>
						<td>$5</td>
					</tr>
				</table>
			</div>

			<div class="block">
				%index_check_action

				<a href="/medvednikov/v">gitly.org/vlang/v</a>

				<a href="/medvednikov/v">
					<img class="gitly-screenshot" src="https://user-images.githubusercontent.com/687996/85933714-b195fe80-b8da-11ea-9ddd-09cadc2103e4.png">
				</a>
			</div>
		</article>

		@include 'layout/footer.html'
	</body>
</html>
