<!DOCTYPE html>
<html>
	<head>
		@include 'layout/head.html'
	</head>
	<body>
		@include 'layout/header.html'

		<div class="content">
			@include 'layout/repo_menu.html'

			<h1>Issues</h1>

			<div>
				@if ctx.logged_in
					<a href='/@repo.user_name/@repo.name/issues/new'>New issue</a>
				@end
			</div>

			</br>

			.commit-day {
			}

			.clog-block {
				@for issue_with_user in issues_with_users
					.clog {
						.clog-msg {
							<a href="/@repo.user_name/@repo.name/issue/@issue_with_user.item.id">@issue_with_user.item.title</a>
						}

						<b>#@issue_with_user.item.id</b> opened @issue_with_user.item.relative_time()
						by <a href="/@issue_with_user.user.username">@issue_with_user.user.username</a>

						@if issue_with_user.item.comments_count > 0
							.comments {
								@if issue_with_user.item.comments_count == 1
									@issue_with_user.item.comments_count comment
								@else
									@issue_with_user.item.comments_count comments
								@end
							}
						@end
					}
				@end
			}

			@if issues_with_users.len > 0
				<div class="buttons">
					@if first
						<a href="/@repo.user_name/@repo.name/issues/@prev_page" class="button disabled">Prev</a>
					@else
						<a href="/@repo.user_name/@repo.name/issues/@prev_page" class="button">Prev</a>/
					@end

					<span>@page of @page_count</span>

					@if last
						<a href="/@repo.user_name/@repo.name/issues/@next_page" class="button disabled">Next</a>
					@else
						<a href="/@repo.user_name/@repo.name/issues/@next_page" class="button">Next</a>
					@end
				</div>
			@end
		</div>

		@include 'layout/footer.html'
	</body>
</html>
