@include 'header.html'

<h3>Issues</h3>

<div>
	@if app.logged_in
		<a href='/@app.repo.user_name/@app.repo.name/issues/new'>New issue</a>
	@end
</div>

</br>

.commit-day {
}

.clog-block {
	@for issue in issues
		.clog {
			.clog-msg {
				<a href="/@app.repo.user_name/@app.repo.name/issue/@issue.id">@issue.title</a>
			}
			span.clog-author {
				#@issue.id opened @issue.relative_time()
				by @issue.author_name
			}
			@if issue.comments_count > 0
			.comments {
				@if issue.comments_count == 1
					@issue.comments_count comment
				@else
					@issue.comments_count comments
				@end
			}
			@end
		}
	@end
}

<div class="buttons">
	<br>
@if first
	<a href="/@app.repo.user_name/@app.repo.name/issues/@last_site" class="button disabled">Prev</a>
@else
	<a href="/@app.repo.user_name/@app.repo.name/issues/@last_site" class="button">Prev</a>/
@end

@if last
	<a href="/@app.repo.user_name/@app.repo.name/issues/@next_site" class="button disabled">Next</a>
@else
	<a href="/@app.repo.user_name/@app.repo.name/issues/@next_site" class="button">Next</a>
@end
</div>

@include 'footer.html'
