@header

<style>
.comment {
	margin-left: 20px;
	margin-top: 20px;
}
</style>

<h1>@issue.title#@issue.id</h1>
<i>by @issue.author_name</i>
<p>@issue.text</p>


@for comment in comments

.comment {
	<i>@comment.author_name commented @comment.relative()</i>
	<p>@comment.text</p>
}

@end
@if app.logged_in
<form method='post' action='/@app.repo.owner_name/@app.repo.name/comment_post'>
	<textarea type='text' name='text' placeholder='Write the command...' required></textarea>
	<input type='number' class='new_comment' name='issue_id' value='@issue.id' style='visibility: hidden; position: absolute;'>
	<input type='submit' name='submit' value='Comment'>
</form>
@end
