<!DOCTYPE html>
<html>
	<head>
		@include 'layout/head.html'
	</head>
	<body>
		@include 'layout/header.html'

		<div class="content">
			<div class="new-repo">
			<div class="new-repo__header">
				<h1>%new_repo_title</h1>
			</div>

			@if ctx.form_error != ''
				<div class='form-error'>@ctx.form_error</div>
			@end

			<form class="new-repo__form" method='post'>
				<div class="new-repo__owner-row">
					<div class="new-repo__field new-repo__field--owner">
						<label class="new-repo__label" for="owner">%new_repo_owner <span class="new-repo__req">*</span></label>
						<select id="owner" class="new-repo__owner-select" name="owner">
							@if selected_owner == ctx.user.username
								<option value="@ctx.user.username" selected>@ctx.user.username</option>
							@else
								<option value="@ctx.user.username">@ctx.user.username</option>
							@end
							@for org in orgs
								@if selected_owner == org.name
									<option value="@org.name" selected>@org.name</option>
								@else
									<option value="@org.name">@org.name</option>
								@end
							@end
						</select>
					</div>
					<div class="new-repo__owner-slash">/</div>
					<div class="new-repo__field new-repo__field--name">
						<label class="new-repo__label" for="name">%new_repo_name <span class="new-repo__req">*</span></label>
						<input class="new-repo__name-input new-repo__name-input--standalone" id="name" type='text' name='name' required autofocus maxlength=@max_repo_name_len placeholder="my-awesome-project">
					</div>
				</div>

				<div class="new-repo__field">
					<label class="new-repo__label" for="description">%new_repo_description <span class="new-repo__optional">%new_repo_optional</span></label>
					<input id="description" type='text' name='description'>
				</div>

				<div class="new-repo__field">
					<label class="new-repo__label" for="clone_url">%new_repo_clone_url <span class="new-repo__optional">%new_repo_clone_hint</span></label>
					<input id='clone_url' type='text' name='clone_url' placeholder='https://github.com/vlang/gitly'>
				</div>

				<div class='new-repo__field new-repo__field--inline' id='import_issues_field' style='display:none'>
					<label class="new-repo__checkbox">
						<input type='checkbox' name='import_issues' value='1'>
						<span>%new_repo_import_issues</span>
					</label>
				</div>

				<div class="new-repo__field">
					<p class="new-repo__label">%new_repo_visibility</p>
					<label class="new-repo__option">
						<input type="radio" name="repo_visibility" value="public" checked>
						<span class="new-repo__option-body">
							<span class="new-repo__option-title">%new_repo_public</span>
							<span class="new-repo__option-desc">%new_repo_public_desc</span>
						</span>
					</label>
					<label class="new-repo__option">
						<input type="radio" name="repo_visibility" value="private">
						<span class="new-repo__option-body">
							<span class="new-repo__option-title">%new_repo_private</span>
							<span class="new-repo__option-desc">%new_repo_private_desc</span>
						</span>
					</label>
				</div>

				<div class="new-repo__actions">
					<input type='submit' class='new-repo__submit' value='%new_repo_create'>
				</div>
			</form>
			</div>
		</div>

		<script>
			(function() {
				var input = document.getElementById('clone_url');
				var field = document.getElementById('import_issues_field');
				function toggle() {
					field.style.display = input.value.toLowerCase().includes('github.com') ? '' : 'none';
				}
				input.addEventListener('input', toggle);
				toggle();
			})();
		</script>

		@js '/js/block-form.js'
		@include 'layout/footer.html'
	</body>
</html>
