<!DOCTYPE html>
<html>
	<head>
		@include 'layout/head.html'
	</head>
	<body>
		@include 'layout/header.html'

		<div class="content">
			<h1>New repository</h1>

			<div class='form-error'>
				@ctx.form_error
			</div>

			<div class="form">
				<form method='post'>
					@app.config.hostname/@ctx.user.username/
					<input type='text' name='name'required autofocus maxlength=@max_repo_name_len>

					<div class='field'>
						<p>Description <i>(optional)</i>:</p>
						<input type='text' name='description'>
					</div>

					<div class='field'>
						<p>Clone URL <i>(only if you want to clone an existing repository)</i>:</p>
						<input type='text' name='clone_url' placeholder='https://github.com/vlang/gitly'>
					</div>

					<div class='field'>
						<p>Repository visibility:</p>
						<div>
							<input type="radio" id="public" name="repo_visibility" value="public" checked>
							<label for="public">Public</label>
						</div>

						<div>
							<input type="radio" id="private" name="repo_visibility" value="private">
							<label for="private">Private</label>
						</div>
					</div>

					<input type='submit' class='btn-info' value='Create'>
				</form>
			</div>
		</div>

		@js '/js/block-form.js'
		@include 'layout/footer.html'
	</body>
</html>
