@include 'header.html'

<h3>New repository</h3>

<div id='div-center'>
	<div class='form-error'>
		@app.form_error
	</div>

	<form method='post' id='aj-form'>
		<div id='form-errors'>
		<!--
			if .clone_failed
				Cloning failed. Most likely you provided an invalid git repo.
			end
			-->
		</div>

		@app.settings.hostname/@app.user.username/
		<input type='text' name='name' required autofocus id='txt-name' maxlength=@max_repo_name_len>

		<div class='field'>Clone URL <i>(only if you want to clone an existing repository)</i></div>
		<input type='text' name='clone_url' placeholder='github.com/user/repo' maxlength=60 style='width:300px'>

		<div class='field'>
			<input type='checkbox' name='is_private' id='is_private' checked>
			<label for="is_private">
				<span class='icon-lock' style='position:relative; top:3px;'></span>
				Make this repository private
			</label>
		</div>

		<input type='submit' class='btn-info' value='Create'>
	</form>

</div>

@include 'footer.html'
