<!DOCTYPE html>
<html>
	<head>
		@include 'layout/head.html'

		@if no_users
		<style>
			#top_right_div { display: none; }
		</style>
		@end

	</head>
	<body>
		@include 'layout/header.html'

		<div class="content">
			<div id='register-error' class='form-error'>@ctx.form_error</div>

			<h1>
				@if no_users
				%register_admin_account
				@else
				  %register
				@end
			</h1>

			@if no_users
				<br><br>
				%raw welcome_to_gitly
				<br><br>
			@end

			<div class="form">
				<form id='register-form' method='post' action='/register'>
					<div class="field">
						<input type='text' name='username' placeholder='%username' required autofocus>
					</div>
					<div class="field">
						<input type='password' name='password' placeholder='%password' required>
					</div>
					<div class="field">
						<input type='email' name="email" placeholder='%email' required>
					</div>
					<div class="field">
						<input type='submit' value='%register'>
					</div>
				</form>
			</div>

			@if app.settings.oauth_client_id != ''
				<a class='github-auth' href='https://github.com/login/oauth/authorize?response_type=code&state=@csrf&client_id=@app.settings.oauth_client_id'>%register_via_github</a>
			@end
		</div>

		@js '/js/register.js'
		@include 'layout/footer.html'
	</body>
</html>
