@include 'header.html'

<h3>
Register
@if no_users
an admin account
@end
</h3>

.form-error {
	@app.form_error
}

@if no_users

Welcome to Gitly! Looks like you've just set it up, you'll need to register
the main administrator account for this server.

@end

<form method='post' action='/register_post'>
	<input type='text' name='username' placeholder='Username' required autofocus>
	<input type='password' name='password' placeholder='Password' required>
	<input type='email' name="email" placeholder='Email' required>
	<input type='submit' value='Register'>
</form>

@include 'footer.html'
