<!DOCTYPE html>
<html>
	<head>
		@include 'layout/head.html'
	</head>
	<body>
		@include 'layout/header.html'

		<div class="content">
			@include 'layout/repo_menu.html'

			<h1>Releases</h1>

			@if releases.len > 0
				.releases {
					@for r in releases
						.release {
							<strong>Release:</strong> @r.tag_name<br/>
							<strong>Hash:</strong> @r.tag_hash<br/>
							@if r.user != ''
								<strong>Created by:</strong> @r.user<br/>
							@end
							<strong>Created at:</strong> @r.date<br/>
							<strong>Notes:</strong> @r.notes<br/>
							<a href="${download_archive_prefix}/$r.tag_name/zip">Download zip</a>,
							<a href="${download_archive_prefix}/$r.tag_name/tar">download tar</a>
						}
					@end
				}

				<div class="buttons">
					@if is_first_page
						<a href="/@username/@repo_name/releases/@prev_page" class="button disabled">Prev</a>
					@else
						<a href="/@username/@repo_name/releases/@prev_page" class="button">Prev</a>
					@end

					<span>@page of @page_count</span>

					@if is_last_page
						<a href="/@username/@repo_name/releases/@next_page" class="button disabled">Next</a>
					@else
						<a href="/@username/@repo_name/releases/@next_page" class="button">Next</a>
					@end
				</div>
			@else
				<h2>No releases</h2>
			@end
		</div>

		@include 'layout/footer.html'
	</body>
</html>
