<header>
	<div style="margin: 0 auto; max-width:1000px">
	<a id='mainlogo' href='/'>Gitly</a>

	<div id='top_right_div'>

	  <div class='lang_select' onchange='change_lang(this)'>
      @{veb.raw(build_tr_menu(ctx.lang))}
  </div>


	<form action="/search" method="GET" style='display: inline-block;'>
		<input class="search-input" name="query" type="text" placeholder="%header_search_placeholder" autocomplete="off">
	</form>

	@if ctx.logged_in
		<div class="new">
			<a href="/new">%new_repository</a>
		</div>
	@end

	<div class="new">
		<a href="/pricing">%header_pricing</a>
	</div>

	<div class="user" tabindex="0">
		@if ctx.logged_in
			.avatar {
				<img src="@{app.prepare_user_avatar_url(ctx.user.avatar)}">
			}
			.header-dropdown {
				.links {
					<a href='/@ctx.user.username/repos' class="link">%header_repositories</a>
					<a href='/@ctx.user.username' class="link">%header_profile</a>
					<a href='/@ctx.user.username/issues' class="link">%header_issues</a>
					<a href='/@ctx.user.username/stars' class="link">%header_stars</a>
					<a href='/@ctx.user.username/feed' class="link">%header_feed</a>
				}
				.links {
					<a href="/organizations/new" class="link">%header_new_organization</a>
					<a href="/@ctx.user.username/settings" class="link">%header_settings</a>
					@if ctx.user.is_admin
						<a href='/admin/settings' class="link">%header_admin_panel</a>
					@end
				}
				.username {
					<span>%header_signed_in_as</span>
					<a href='/@ctx.user.username'>@ctx.user.username</a>
				}
				.links {
					<a href='/logout' class="link">%header_sign_out</a>
				}
				<div class="dropdown-hoverzone"></div>
			}
		@else
			<a href='/login' class='login-button'>%header_login</a>
			<a href='/register' class="login-button" style="margin-left: 5px">%header_register</a>
		@end
		</div>
	</div>
	</div>
</header>
