<!DOCTYPE html>
<html>
	<head>
		@include '../layout/head.html'
	</head>
	<body>
		@include '../layout/header.html'

		<div class="content">
			<div class="repos-header">
				<div class="avatar">
					<img src="@{app.prepare_user_avatar_url(user.avatar)}">
				</div>
				<h1>@{user.username}'s repositories</h1>
			</div>

			@if repos.len > 0
				<div class="repo-table-wrap">
					<table class="repo-table">
						<thead>
							<tr>
								<th scope="col" class="repo-table__col-name">
									<a href="@{repo_sort_href(user.username, sort_by, sort_dir, 'name')}">
										%user_repos_col_name
										<span class="repo-table__sort">@{repo_sort_indicator(sort_by, sort_dir, 'name')}</span>
									</a>
								</th>
								<th scope="col" class="repo-table__col-number">
									<a href="@{repo_sort_href(user.username, sort_by, sort_dir, 'issues')}">
										%user_repos_col_issues
										<span class="repo-table__sort">@{repo_sort_indicator(sort_by, sort_dir, 'issues')}</span>
									</a>
								</th>
								<th scope="col" class="repo-table__col-number">
									<a href="@{repo_sort_href(user.username, sort_by, sort_dir, 'prs')}">
										%user_repos_col_prs
										<span class="repo-table__sort">@{repo_sort_indicator(sort_by, sort_dir, 'prs')}</span>
									</a>
								</th>
								<th scope="col" class="repo-table__col-number">
									<a href="@{repo_sort_href(user.username, sort_by, sort_dir, 'stars')}">
										%user_repos_col_stars
										<span class="repo-table__sort">@{repo_sort_indicator(sort_by, sort_dir, 'stars')}</span>
									</a>
								</th>
								<th scope="col" class="repo-table__col-date">
									<a href="@{repo_sort_href(user.username, sort_by, sort_dir, 'created')}">
										%user_repos_col_created
										<span class="repo-table__sort">@{repo_sort_indicator(sort_by, sort_dir, 'created')}</span>
									</a>
								</th>
								<th scope="col" class="repo-table__col-date">
									<a href="@{repo_sort_href(user.username, sort_by, sort_dir, 'activity')}">
										%user_repos_col_activity
										<span class="repo-table__sort">@{repo_sort_indicator(sort_by, sort_dir, 'activity')}</span>
									</a>
								</th>
							</tr>
						</thead>
						<tbody>
							@for repo in repos
								<tr>
									<td class="repo-table__repo">
										<div class="repo-table__repo-heading">
											<a class="repo-table__repo-name" href="/@user.username/@repo.name">@repo.name</a>
											@if repo.is_public
												<span class="repo-table__badge">%user_repo_public</span>
											@else
												<span class="repo-table__badge repo-table__badge--private">%user_repo_private</span>
											@end
										</div>
										@if repo.description.len > 0
											<p class="repo-table__desc">@repo.description</p>
										@end
									</td>
									<td class="repo-table__number">@repo.nr_open_issues</td>
									<td class="repo-table__number">@repo.nr_open_prs</td>
									<td class="repo-table__number">@repo.nr_stars</td>
									<td class="repo-table__date">
										@if repo.created_at > 0
											@repo.created_str()
										@else
											<span class="repo-table__muted">%user_repos_unknown</span>
										@end
									</td>
									<td class="repo-table__date">
										@if repo.last_activity_at() > 0
											@repo.last_activity_str()
										@else
											<span class="repo-table__muted">%user_repos_unknown</span>
										@end
									</td>
								</tr>
							@end
						</tbody>
					</table>
				</div>
			@else
				<p class="repos-empty">No repositories yet.</p>
			@end
		</div>

		@include '../layout/footer.html'
	</body>
</html>
