@include '../header.html'

<h2>User settings</h2>

.div-center {
	.form-error {
		@app.form_error
	}

	<div class="form">
		<form action="/@app.user.username/settings" method="post">
			<div class="field">
				<input type="text" name="full_name" value="@app.user.full_name" placeholder="Full name">
			</div>
			<div class="field">
				<input type="text" name="name" value="@app.user.username" placeholder="Username">
			</div>
			<input type="submit" value="Save settings">
		</form>
	</div>
}

@include '../footer.html'
