name: CI

on: [push, pull_request]

jobs:
  ubuntu:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout V
        uses: actions/checkout@v2
        with:
          repository: vlang/v
      - name: Checkout gitly2
        uses: actions/checkout@v2
        with:
          path: gitly
      - name: Install SQLite Dependencies
        run: sudo apt install libsqlite3-dev          
      - name: Install Markdown
        uses: actions/checkout@v2
        with:
          repository: vlang/markdown
          path: vlib/markdown
      - name: Build V
        run: |
          make
          sudo ./v symlink
      - name: Compile gitly
        run: |
          cd gitly
          v .
  macos:
    runs-on: macos-latest
    steps:
      - name: Checkout V
        uses: actions/checkout@v2
        with:
          repository: vlang/v
      - name: Checkout gitly2
        uses: actions/checkout@v2
        with:
          path: gitly          
      - name: Install Markdown
        uses: actions/checkout@v2
        with:
          repository: vlang/markdown
          path: vlib/markdown
      - name: Build V
        run: |
          make
          ./v symlink
      - name: Compile gitly
        run: |
          cd gitly
          v .
#      - name: Cross compilation
#        run: |
#          cd gitly
#          v -os linux .

#  windows-msvc:
#    runs-on: windows-latest
#    env:
#      VFLAGS: -cc msvc
#    steps:
#      - name: Checkout V
#        uses: actions/checkout@v2
#        with:
#          repository: vlang/v
#      - name: Checkout gitly2
#        uses: actions/checkout@v2
#        with:
#          path: gitly
#      - name: Install SQLite
#        run: |
#          .github\workflows\windows-install-sqlite.bat
#          dir thirdparty\sqlite\          
#      - name: Install Markdown
#        uses: actions/checkout@v2
#        with:
#          repository: vlang/markdown
#          path: vlib/markdown
#      - name: Build V
#        run: |
#          ./make.bat -msvc -skip-path
#      - name: Compile gitly
#        run: |
#          .\v.exe gitly\  

  windows-gcc:
    runs-on: windows-latest
    env:
      VFLAGS: -cc gcc
    steps:
      - name: Checkout V
        uses: actions/checkout@v2
        with:
          repository: vlang/v
      - name: Checkout gitly2
        uses: actions/checkout@v2
        with:
          path: gitly
      - name: Install SQLite
        run: |
          .github\workflows\windows-install-sqlite.bat
          dir thirdparty\sqlite\          
      - name: Install Markdown
        uses: actions/checkout@v2
        with:
          repository: vlang/markdown
          path: vlib/markdown
      - name: Build V
        run: |
          ./make.bat -gcc -skip-path
      - name: Compile gitly
        run: |
          .\v.exe gitly\
  windows-tcc:
    runs-on: windows-latest
    env:
      VFLAGS: -cc tcc
    steps:
      - name: Checkout V
        uses: actions/checkout@v2
        with:
          repository: vlang/v
      - name: Checkout gitly2
        uses: actions/checkout@v2
        with:
          path: gitly
      - name: Install SQLite
        run: |
          .github\workflows\windows-install-sqlite.bat
          dir thirdparty\sqlite\          
      - name: Install Markdown
        uses: actions/checkout@v2
        with:
          repository: vlang/markdown
          path: vlib/markdown
      - name: Build V
        run: |
          ./make.bat -tcc -skip-path
      - name: Compile gitly
        run: |
          .\v.exe gitly\

